/*************************************************************
*						App Variables
**************************************************************/


/*************************************************************
*					  Colors Definitions
**************************************************************/

$color-primary: #00CBB3;// #85CE36;//#3FA9F4 !default;
$color-primary-light: lighten($color-primary, 10%) !default; 
$color-primary-lighter: lighten($color-primary-light, 6%) !default; 
$color-primary-dark: darken($color-primary, 10%) !default;
$color-primary-darker: darken($color-primary-dark, 6%) !default;

$color-divider: #d7dde4 !default;
$color-bg: #EEF1F5 !default;
$color-bg-header: #FFFFFF;//#85CE36;//#3FA9F4;

$color-text: black;
$color-text-light: #7e8e9f !default;
$color-text-muted: #C2CCD6;
$color-text-inverse: #ffffff !default;
$color-text-passive: #c5c5c5 !default;

$color-success: #5cb85c;// #4bcf99 !default;
$color-info: #5bc0de;//#76D4F5 !default;
$color-warning: #f0ad4e;//#fe974b !default;
$color-danger: #d9534f;//#FF4444 !default;
$color-secondary: #6b7a85;//#131e26 !default;
$color-inverse: #131e26;
$color-default: #ffffff;


/*************************************************************
*					Common Element Variables
**************************************************************/

// Buttons
$btn-radius: 25px !default;

$btn-primary-color: $color-primary !default;
$btn-primary-color-text: $color-text-inverse !default;


// Links
$link-color: #969696 !default;
$link-transition: initial;
$link-decoration: none;

$link-hover-color: darken($color-primary, 8%) !default;
$link-hover-decoration: none !default;

// Header
$header-height: 55px !default;
$header-height-xs: 50px !default;
$header-hover: $color-primary;

// Sidebar
$sidebar-width: 230px !default;
$sidebar-color-primary: #304b58;
$sidebar-color-hover:  darken($sidebar-color-primary, 6%);
$sidebar-color-text-hover: #fff;
$sidebar-color-secondary: darken($sidebar-color-primary, 8%) !default;
$sidebar-color-text:  #fff; 
$sidebar-color-active:  lighten($sidebar-color-primary, 10%);
$sidebar-color-text-active:  #fff;
$sidebar-color-icon: #00CBB3;
$sidebar-header-color: $color-primary;
$sidebar-header-text: $color-text-inverse;

// Search
$input-search-color: #eceff1;
$input-search-text-color: #969696;

// Footer
$footer-height: 50px !default;

// Dropdowns
$dropbown-color-border: fade-out($color-text-light, 0.9) !default;
$dropdown-link-hover-color-bg: #f5f5f5 !default;

// Content
$content-padding-x-xl: 0px !default;
$content-padding-y-xl: 20px !default;

$content-padding-x-lg: 0px !default;
$content-padding-y-lg: 20px !default;

$content-padding-x-md: 0px !default;
$content-padding-y-md: 20px !default;

$content-padding-x-sm: 0px !default;
$content-padding-y-sm: 20px !default;

$content-padding-x-xs: 10px !default;
$content-padding-y-xs: 15px !default;


// Card
$card-padding-x: 15px !default;
$card-padding-x-xl: 20px !default;
$card-padding-x-sm: 10px !default;

$card-margin-bottom: 10px;

// Item list
$item-list-color-border: lighten($color-divider, 6%) !default;

// Charts
$chart-color-primary: $color-primary !default;
$chart-color-secondary: lighten($chart-color-primary, 10%) !default;



/* ***************************************************
*			Page Specific Element Variables
****************************************************** */

// Dashboard
$dashboard-stat-icon-color: #BDBDBD !default;