.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #cfd8dc;
}

table thead tr th{
  background-color: $color-primary;
  color: $color-text-inverse;
  height: 40px;
  font-weight: normal;
}

table tbody tr td{
  height: 2rem;
  padding: 4px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #cfd8dc;
}

.table tbody + tbody {
  border-top: 2px solid #cfd8dc;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #cfd8dc;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #cfd8dc;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: $color-success;
}

.table-hover .table-success:hover {
  background-color: lighten($color-success,5%)
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: lighten($color-success,5%)
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: $color-info
}


.table-info > th {
  border-bottom: 2px solid $color-info
}

.table-hover .table-info:hover {
  background-color: lighten($color-info,5%)
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: lighten($color-info,5%)
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: $color-warning;
}

.table-hover .table-warning:hover {
  background-color: lighten($color-warning,5%)
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: lighten($color-warning,5%)
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: $color-danger;
}

.table-hover .table-danger:hover {
  background-color: lighten($color-danger,5%)
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: lighten($color-danger,5%)
}

.thead-inverse th {
  color: #fff;
  background-color: $color-inverse
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

.table-inverse {
  color: #fff;
  background-color: $color-inverse
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #fff;
}

.table-inverse,
.table-inverse > th,
.table-inverse > td {
  background-color: $color-inverse;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}


.color-table.primary-table thead th {
    background-color: $color-primary;
    color: $color-text-inverse
}

.color-table.success-table thead th {
    background-color: $color-success;
    color: $color-text-inverse
}

.color-table.info-table thead th {
    background-color: $color-info;
    color: $color-text-inverse
}

.color-table.warning-table thead th {
    background-color: $color-warning;
    color: $color-text-inverse
}

.color-table.danger-table thead th {
    background-color: $color-danger;
    color: $color-text-inverse;
}

.color-table.inverse-table thead th {
    background-color: $color-inverse;
    color: $color-text-inverse;
}


.color-bordered-table.primary-bordered-table {
    border: 2px solid darken($color-primary,5%);
}

.color-bordered-table.primary-bordered-table thead th {
    background-color: $color-primary;
    border-bottom: 2px solid darken($color-primary,5%);
    color: $color-text-inverse
}

.color-bordered-table.success-bordered-table {
    border: 2px solid darken($color-success,5%);
}

.color-bordered-table.success-bordered-table thead th {
    background-color: $color-success;
    border-bottom: 2px solid darken($color-success,5%);
    color: $color-text-inverse;
}

.color-bordered-table.info-bordered-table {
    border: 2px solid darken($color-info,5%);
}

.color-bordered-table.info-bordered-table thead th {
    background-color: $color-info;
    border-bottom: 2px solid darken($color-info,5%);
    color: $color-text-inverse;
}

.color-bordered-table.warning-bordered-table {
    border: 2px solid darken($color-warning,5%);
}

.color-bordered-table.warning-bordered-table thead th {
    background-color: $color-warning;
    border-bottom: 2px solid darken($color-warning,5%);
    color: $color-text-inverse;
}

.color-bordered-table.danger-bordered-table {
    border: 2px solid darken($color-danger,5%);
}

.color-bordered-table.danger-bordered-table thead th {
    background-color: $color-danger;
    border-bottom: 2px solid darken($color-danger,5%);
    color: $color-text-inverse;
}

.color-bordered-table.inverse-bordered-table {
    border: 2px solid darken($color-inverse,5%);
}

.color-bordered-table.inverse-bordered-table thead th {
    background-color: $color-inverse;
    border-bottom: 2px solid darken($color-inverse,5%);
    color: $color-text-inverse;
}


.floating-labels .form-group {
    position: relative
}

.table-flip-scroll table {
    width: 100%
}

@media only screen and (max-width: 800px) {

    .table-flip-scroll .flip-content:after,
    .table-flip-scroll .flip-header:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0
    }
    .table-flip-scroll html .flip-content,
    .table-flip-scroll html .flip-header {
        -ms-zoom: 1;
        zoom: 1
    }
    .table-flip-scroll *:first-child+html .flip-content, 
    .table-flip-scroll *:first-child+html .flip-header {
        -ms-zoom: 1;
        zoom: 1
    }
    .table-flip-scroll table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative
    }
    .table-flip-scroll th,
    .table-flip-scroll td {
        margin: 0;
        vertical-align: top
    }
    .table-flip-scroll th:last-child,
    .table-flip-scroll td:last-child {
        border-bottom: 1px solid #ddd
    }
    .table-flip-scroll th {
        border: 0 !important;
        border-right: 1px solid #ddd !important;
        //font-size: 13px !important;
        //padding: 5px;
        width: auto !important;
        display: block;
        text-align: right;
    }
    .table-flip-scroll td {
        display: block;
        text-align: left;
        border: 0 !important;
        border-bottom: 1px solid #ddd !important;
    }
    .table-flip-scroll thead {
        display: block;
        float: left
    }
    .table-flip-scroll thead tr {
        display: block;
    }
    .table-flip-scroll tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }
    .table-flip-scroll tbody tr {
        display: inline-block;
        vertical-align: top;
        margin-left: -5px;
        border-left: 1px solid #ddd
    }
}



.shadow-left {
   -webkit-box-shadow: inset 12px 0px 5px 0px rgba(0,0,0,0.12),;
   -moz-box-shadow: inset 12px 0px 5px 0px rgba(0,0,0,0.12);
   box-shadow: inset 12px 0px 5px 0px rgba(0,0,0,0.12);

}
.shadow-right {
   -webkit-box-shadow: inset -12px 0px 5px 0px rgba(0,0,0,0.12);
   -moz-box-shadow: inset -12px 0px 5px 0px rgba(0,0,0,0.12);
   box-shadow: inset -12px 0px 5px 0px rgba(0,0,0,0.12);

}

.shadow-left-right {
   -webkit-box-shadow: inset 12px 0px 5px 0px rgba(0,0,0,0.12), inset -12px 0px 5px 0px rgba(0,0,0,0.12);
   -moz-box-shadow: inset 12px 0px 5px 0px rgba(0,0,0,0.12), inset -12px 0px 5px 0px rgba(0,0,0,0.12);
   box-shadow: inset 12px 0px 5px 0px rgba(0,0,0,0.12), inset -12px 0px 5px 0px rgba(0,0,0,0.12);
}