.dropdown-menu {
	float: left;
	min-width: 180px;
	box-shadow: 2px 3px 6px $dropbown-color-border;
	border: 1px solid $dropbown-color-border;
	border-top-left-radius: 0;
	border-top-right-radius: 0;


	.dropdown-item {
		display: block;
		padding: 6px 15px;
		clear: both;
		font-weight: normal;
		color: $color-text;
		white-space: nowrap;
		transition: none;

		a {
			padding: 10px 15px;

			span {
				display: inline-block;
				padding-left: 5px;
				text-align: left;
				color: $color-text-light;
			}
		}

		.icon {
				color: $color-primary;
				text-align: center;
				width: 16px;
			}

		&:hover {
			color: $color-primary !important;
			background: none;
			background-color: darken(#fff, 4%);
		}
	}
}