/**
** Accordions
**/

.accordion .card {
  margin-bottom: 0px;
}
.accordion .card .card-header {
      padding-left: 6px;
      padding-right: 6px;
}
.accordion .card .card-header::after {
    content: none;
}

.accordion .card .card-header > i.fa-chevron-down {  
   -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.accordion .card .card-header[aria-expanded="true"] > i.fa-chevron-down {
  -webkit-transform: rotate(180deg); 
	  transform: rotate(180deg);
}

.accordion .card .card-header {    
    border-bottom-width: 0px;
}

.accordion .card .card-header[aria-expanded="true"] {
   border-bottom-width: 1px;
}

.input-clear {
    position: absolute;
    right:50px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: black;
}