html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 100%;
	color: #4f5f6f;
	overflow-x: hidden;
	font-family: "Lato", "Poppins", sans-serif;
	font-weight: 400;
	color: #464D69;
}

.main-wrapper {
	width: 100%;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.app {
	position: relative;
	width: 100%;
	padding-left: $sidebar-width;
	min-height: 100vh;
	margin: 0 auto;
	left: 0;
	background-color: $color-bg;
	box-shadow: 0 0 3px #ccc;
	transition: left 0.3s ease, padding-left 0.3s ease;
	-webkit-transition: left 0.3s ease, padding-left 0.3s ease;
	overflow: hidden;

	.content {

		$padding-x: $content-padding-x-md;
		$padding-y: $content-padding-y-md;

		padding: $header-height $padding-x $footer-height + $padding-y $padding-x;
		min-height: 100vh;

		@include media(xl) {
			$padding-x: $content-padding-x-xl;
			$padding-y: $content-padding-y-xl;

			padding: $header-height $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(lg) {
			$padding-x: $content-padding-x-lg;
			$padding-y: $content-padding-y-lg;

			padding: $header-height $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media(md) {
			$padding-x: $content-padding-x-md;
			$padding-y: $content-padding-y-md;

			padding: $header-height $padding-x $footer-height + $padding-y $padding-x;
		}

		@include media-down(sm) {
			$padding-x: $content-padding-x-sm;
			$padding-y: $content-padding-y-sm;

			padding: $header-height-xs $padding-x $footer-height + $padding-y $padding-x;
		}
	}


	@include media-down(md) {
		padding-left: 0;
	}

	&.sidebar-open {
		@include media-down(md) {
			left: 0;
		}
	}

	&.blank {
		background-color: #667380;
	}

}

.app.horizontal {
	padding-left: 0px;
}

.app.horizontal .content {
	padding-top: 120px;
}

.row {
	.col {
		padding-left: $grid-gutter-width-base/2;
		padding-right: $grid-gutter-width-base/2;
		float: left;
	}
}


.row-sm {
	margin-left: -10px;
	margin-right: -10px;

	[class^='col'] {
		padding-left: 10px;
		padding-right: 10px;
	}
}


.title-block {
	padding-bottom: 15px;
	margin-bottom: 30px;
	border-bottom: 1px solid $color-divider;

	@include clearfix();

	@include media-down(sm) {
		margin-bottom: 20px;
	}
}


.subtitle-block {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px dashed lighten($color-divider, 3%);
}

.section {
	display: block;
	margin-bottom: $content-padding-y-md - $card-margin-bottom;


	@include media(xl) {
		margin-bottom: $content-padding-y-xl - $card-margin-bottom;
	}

	@include media(lg) {
		margin-bottom: $content-padding-y-lg - $card-margin-bottom;
	}

	@include media(md) {
		margin-bottom: $content-padding-y-md - $card-margin-bottom;
	}

	@include media-down(sm) {
		margin-bottom: $content-padding-y-sm - $card-margin-bottom;
	}


	&:last-of-type {
		margin-bottom: 0;
	}
}

.box-placeholder {
	margin-bottom: 15px;
	padding: 20px;
	border: 1px dashed #ddd;
	background: #fafafa;
	color: #444;
	cursor: pointer;
}

.container-fluid {
	padding: 15px;
}