/*********
***  Buttons
*********/
.btn {
	background-image: none;
	cursor: pointer;
	padding: .5rem 0.6rem;
	margin: 0.2rem;
	line-height: 1.25rem;
	background-color: rgba(255,255,255,0.2); 

	&.btn-primary {
		@include button-variant($color-primary, $color-primary);
	}

	&.btn-secondary {
		@include button-variant( $color-secondary, $color-secondary );	
	}

	&.btn-success {
		@include button-variant( $color-success, $color-success);
	}

	&.btn-info {
		@include button-variant( $color-info, $color-info);
	}

	&.btn-warning {
		@include button-variant( $color-warning, $color-warning);
	}

	&.btn-danger {
		@include button-variant(  $color-danger, $color-danger);
	}

	&.btn-default {
		@include button-variant( $color-default, $color-default);
	}

	// Remove all backgrounds
	&.btn-primary-outline {
		@include button-outline-variant($color-primary);
	}

	&.btn-secondary-outline {
		@include button-outline-variant($color-secondary);
	}

	&.btn-info-outline {
		@include button-outline-variant($color-info);
	}

	&.btn-success-outline {
		@include button-outline-variant($color-success);
	}

	&.btn-warning-outline {
		@include button-outline-variant($color-warning);
	}

	&.btn-danger-outline {
		@include button-outline-variant($color-danger);
	}

	

	&.btn-pill-left,
	&.btn-pill-right,
	&.btn-oval {
		&:focus {
			outline: none;
    		outline-offset: initial;
		}	
	}

	&.btn-pill-left {
		border-top-left-radius: $btn-radius;	
		border-bottom-left-radius: $btn-radius;
	}

	&.btn-pill-right {
		border-top-right-radius: $btn-radius;	
		border-bottom-right-radius: $btn-radius;
	}

	&.btn-oval {
		border-radius: $btn-radius;
	}

	&.btn-link {
		text-decoration: none;
	}

	strong {
		font-weight: 600;
	}

}

.btn-group {
	.dropdown-menu {
		& > li:last-child {
			a:hover:before {
				height: 0px;
				-webkit-transform: scaleX(0);
				        transform: scaleX(0)
			}
		}
	}
}

.btn:hover{
	background-color: rgba(0, 0, 0, 0.08);
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
	line-height: 1.33; 	
	cursor: pointer;
	-webkit-box-pack: center;
	        justify-content: center;
  -webkit-box-align: center;
          align-items: center;
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn-circle:hover {
	background-color: rgba(0, 0, 0, 0.08);
}



.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 4px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}   

.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998 !important;
  cursor: pointer;
}
.btn-twitter {
  color: #ffffff !important;
  background-color: #55acee !important;
  cursor: pointer;
}
.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6 !important;
  cursor: pointer;
}
.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89 !important;
  cursor: pointer;
}
.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39 !important;
  cursor: pointer;
}
.btn-instagram {
  color: #ffffff !important;
  background-color: #3f729b !important;
  cursor: pointer;
}
.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027 !important;
  cursor: pointer;
}
.btn-dropbox { 
  color: #ffffff !important;
  background-color: #007ee5 !important;
  cursor: pointer;
}
.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084 !important;
  cursor: pointer;
}
.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d !important;
  cursor: pointer;
}
.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0 !important;
  cursor: pointer;
}
.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000 !important;
  cursor: pointer;
}
.btn-github {
  color: #ffffff !important;
  background-color: #171515 !important;
  cursor: pointer;
}   


.container-button > .btn {
	 margin-right: 4px;
}

.anteros-scrollButton .center {
	left: 40%;
}

.anteros-scrollButton .right {
	right: 1vw;
}

.anteros-scrollButton .left {
	left: 1vw;
}

.anteros-scrollButton .down {
	position: absolute;
	bottom: 15vh;
	z-index: 5;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: $color-primary;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.anteros-scrollButton .up {
	position: absolute;
	top: 15vh;
	z-index: 5;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: $color-primary;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.anteros-scrollButton a:hover {
	opacity: 0.5;
	text-decoration: none;
}

#scrollDown > a .arrow-down {
	position: fixed;
	top: 20%;
	margin-left: 5px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: scrollDown 1.5s infinite;
	animation: scrollDown 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes scrollDown {
	0% {
	-webkit-transform: rotate(-45deg) translate(0, 0);
	opacity: 0;
	}
	50% {
	opacity: 1;
	}
	100% {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	opacity: 0;
	}
}
@keyframes scrollDown {
	0% {
	-webkit-transform: rotate(-45deg) translate(0, 0);
	        transform: rotate(-45deg) translate(0, 0);
	opacity: 0;
	}
	50% {
	opacity: 1;
	}
	100% {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	        transform: rotate(-45deg) translate(-5px, 5px);
	opacity: 0;
	}
}

#scrollDown > a .arrow-up {
	position: fixed;
	top: 50%;
	margin-left: 5px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(135deg);
	-webkit-animation: scrollUp 1.5s infinite;
	animation: scrollUp 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes scrollUp {
	0% {
	-webkit-transform: rotate(135deg) translate(0, 0);
	opacity: 0;
	}
	50% {
	opacity: 1;
	}
	100% {
	-webkit-transform: rotate(135deg) translate(-5px, 5px);
	opacity: 0;
	}
}
@keyframes scrollUp {
	0% {
	-webkit-transform: rotate(135deg) translate(0, 0);
	        transform: rotate(135deg) translate(0, 0);
	opacity: 0;
	}
	50% {
	opacity: 1;
	}
	100% {
	-webkit-transform: rotate(135deg) translate(-5px, 5px);
	        transform: rotate(135deg) translate(-5px, 5px);
	opacity: 0;
	}
}