
.Helper_themeHelper__34XlU {
    width: 360px;
    position: absolute;
    right: -360px;
    top: 20px;
    bottom: 20px;
    z-index: 101;
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
}

.Helper_themeHelper__34XlU .Helper_helperHeader__FKJqr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}

.Helper_themeHelper__34XlU .abc-radio-secondary input[type="radio"]:not(:checked) + label:before {
    background-color: #798892;
}

.Helper_themeHelper__34XlU .abc-radio > label {
    padding-left: 25px;
}

.Helper_themeHelper__34XlU .abc-radio > label:after,
.Helper_themeHelper__34XlU .abc-radio > label:before {
    outline: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-left: 4px;
}

.Helper_themeHelper__34XlU .abc-radio-warning input[type="radio"]:not(:checked) + label:before {
    background-color: #fda700;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc {
    position: relative;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc,
.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc > label {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc > input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
    opacity: 0;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc > label {
    margin: 0;
    border: 1px solid #c1ccd3;
    padding: 3px;
    border-radius: 0.3rem;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    display: block;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc > label:hover {
    background-color: #e9ecef;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc > input:checked + label {
    background-color: #d6dee5;
}

.Helper_themeHelper__34XlU .Helper_themeSwitcher__dnvLw .Helper_theme__1yntc .Helper_themeImage__2-FEk {
    width: 100%;
}

.Helper_themeHelper__34XlU.Helper_themeHelperOpened__3qZGC {
    right: 0;
}

.Helper_themeHelper__34XlU .Helper_themeHelperBtn__1y8_u {
    position: absolute;
    top: 7%;
    right: unset;
    margin-left: 24px;
    width: 52px;
    -webkit-transform: translateX(-76px);
    transform: translateX(-76px);
    margin-top: -15px;
    cursor: pointer;
    z-index: 0;
    border-radius: 50% 0 0 50%;
    padding: 0.8rem 0.5rem 0.8rem 1rem;
}

.Helper_themeHelper__34XlU .Helper_themeHelperBtn__1y8_u,
.Helper_themeHelper__34XlU .Helper_themeHelperBtn__1y8_u:not(.Helper_active__72bqE) {
    box-shadow: -1px 0 8px rgba(0, 0, 0, 0.2) !important;
}

.Helper_themeHelper__34XlU .Helper_themeHelperSpinner__3vmZJ {
    font-size: 1.5rem;
    line-height: normal;
}

.Helper_themeHelper__34XlU .Helper_themeHelperHeader__1oyjM {
    padding-top: 0;
}

.Helper_themeHelper__34XlU .Helper_themeHelperHeader__1oyjM h6 {
    margin: auto;
}

.Helper_themeHelper__34XlU .Helper_themeHelperContent__3x0xU {
    box-shadow: -1px 0 8px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow-y: scroll;
    height: 100%;
}

.Helper_themeHelper__34XlU .Helper_themeHelperContent__3x0xU::-webkit-scrollbar {
    width: 1em;
}

.Helper_themeHelper__34XlU .Helper_themeHelperContent__3x0xU::-webkit-scrollbar-track {
    box-shadow: none;
}

.Helper_themeHelper__34XlU .Helper_themeHelperContent__3x0xU::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid #000;
}

.Helper_themeHelper__34XlU .Helper_themeHelperSharing__1Wn45 {
    font-size: 1.25rem;
    cursor: pointer;
}

.Helper_themeHelper__34XlU .glyphicon {
    vertical-align: top;
}

@-webkit-keyframes Helper_spin__2Q3vf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@keyframes Helper_spin__2Q3vf {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

@-webkit-keyframes Helper_spin-reverse__3Qw-C {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

@keyframes Helper_spin-reverse__3Qw-C {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}

.helper-button {
    background: $color-primary-three !important;
    border: none;
}
