.react-date-picker {
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    border: 1px solid #CED4DA;
    width: 100%
  }
  .react-date-picker,
  .react-date-picker *,
  .react-date-picker *:before,
  .react-date-picker *:after {
    box-sizing: border-box;
  }
  .react-date-picker--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }
  .react-date-picker__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 0;
    border: thin solid gray;
  }
  .react-date-picker__inputGroup {
    min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
    border: 0;
    margin-left: 8px;
  }
  .react-date-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
  .react-date-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    font: inherit;
    box-sizing: content-box;
    -moz-appearance: textfield;
  }
  .react-date-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-date-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-date-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-date-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px + 0.54em);
  }
  .react-date-picker__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;
    outline: 0;
    border: 0;
  }
  .react-date-picker__button:enabled {
    cursor: pointer;
    outline: 0;
      border: 0;
  }
  .react-date-picker__button:enabled:hover .react-date-picker__button__icon,
  .react-date-picker__button:enabled:focus .react-date-picker__button__icon {
    stroke: #0078d7;
    outline: 0;
      border: 0;
  }
  .react-date-picker__button:disabled .react-date-picker__button__icon {
    stroke: #6d6d6d;
    outline: 0;
      border: 0;
  }
  .react-date-picker__button svg {
    display: inherit;
  }
  .react-date-picker__calendar {
    width: 350px;
    max-width: 100vw;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
  }
  .react-date-picker__calendar--closed {
    display: none;
  }
  .react-date-picker__calendar .react-calendar {
    border-width: thin;
  }
  
  
  .react-date-picker--closed {
    border-radius: 4px;
  }
  .react-date-picker--closed .react-date-picker__wrapper {
    border-radius: 4px;
  }
  .react-date-picker--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-date-picker--open .react-date-picker__wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-date-picker__wrapper {
    background: white;
    border: 0;
    border-radius: 4px;
    font-size: 1.25em;
  }
  .react-date-picker__inputGroup {
    min-width: calc(4px + (4px * 3) +  0.54em * 8  +  0.217em * 2);
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
            align-items: baseline;
      border-top-width: 0px;
      border-bottom-width: 0px;
  }
  .react-date-picker__inputGroup__divider {
    padding: 1px;
  }
  .react-date-picker__inputGroup__input {
    -moz-appearance: textfield;
  }
  .react-date-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-date-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-date-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-date-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px +  0.54em);
  }
  .react-date-picker__calendar {
    border-radius: 4px;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    border-top-left-radius: 0 !important;
  }
  .react-date-picker__calendar .react-calendar {
    border-top-left-radius: 0 !important;
  }
  .react-date-picker__clock {
    border-radius: 4px;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    font-family: inherit;
    width: 240px;
    height: 240px;
    padding: 20px;
    border: 0;
    border-top-left-radius: 0;
  }
  .react-date-picker__clock .react-clock__second-hand {
    -webkit-transition: -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s, -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
  }
  .react-date-picker__clock .react-clock__second-hand__body:before {
    width: 5px;
    height: 5px;
  }
  .react-date-picker__clock .react-clock__second-hand__body:after {
    width: 15px;
    height: 15px;
  }


  .react-datetime-picker {
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
    border: 1px solid #CED4DA;
    width: 100%
  }
  .react-datetime-picker,
  .react-datetime-picker *,
  .react-datetime-picker *:before,
  .react-datetime-picker *:after {
    box-sizing: border-box;
  }
  .react-datetime-picker--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }
  .react-datetime-picker__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 0;
    border: 0;
  }
  .react-datetime-picker__inputGroup {
    min-width: calc(4px + (4px * 3) + 0.54em * 6 + 0.217em * 2);
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding: 0 2px;
    margin-left: 8px;
    border:0;
  }
  .react-datetime-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
  .react-datetime-picker__inputGroup__input {
    min-width: 0.54em;
    height: calc(100% - 2px);
    position: relative;
    padding: 1px;
    border: 0;
    background: none;
    font: inherit;
    box-sizing: content-box;
    -moz-appearance: textfield;
  }
  .react-datetime-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-datetime-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-datetime-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-datetime-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px + 0.54em);
  }
  .react-datetime-picker__inputGroup__amPm {
    font: inherit;
    -moz-appearance: menulist;
  }
  .react-datetime-picker__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;
    outline: 0;
    border: 0;
  }
  .react-datetime-picker__button:enabled {
    cursor: pointer;
    outline: 0;
    border: 0;
  }
  .react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
  .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
    stroke: #0078d7;
    outline: 0;
    border: 0;
  }
  .react-datetime-picker__button:disabled .react-datetime-picker__button__icon {
    stroke: #6d6d6d;
    outline: 0;
    border: 0;
  }
  .react-datetime-picker__button svg {
    display: inherit;
  }
  .react-datetime-picker__calendar,
  .react-datetime-picker__clock {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  .react-datetime-picker__calendar--closed,
  .react-datetime-picker__clock--closed {
    display: none;
  }
  .react-datetime-picker__calendar {
    width: 350px;
    max-width: 100vw;
  }
  .react-datetime-picker__calendar .react-calendar {
    border-width: thin;
  }
  .react-datetime-picker__clock {
    width: 200px;
    height: 200px;
    max-width: 100vw;
    padding: 25px;
    background-color: white;
    border: thin solid #a0a096;
  }


 
  .react-datetime-picker--closed {
    border-radius: 4px;
  }
  .react-datetime-picker--closed .react-datetime-picker__wrapper {
    border-radius: 4px;
  }
  .react-datetime-picker--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-datetime-picker--open .react-datetime-picker__wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-datetime-picker__wrapper {
    background: white;
    border: 0;
    border-radius: 0.25rem;
  }
  .react-datetime-picker__inputGroup {
    min-width: calc(4px + (4px * 3) +  0.54em * 8  +  0.217em * 2);
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: flex;
    padding: 2px;
    -webkit-box-align: baseline;
            align-items: baseline;
    margin-left: 8px;
  }
  .react-datetime-picker__inputGroup__divider {
    padding: 1px;
  }
  .react-datetime-picker__inputGroup__input {
    -moz-appearance: textfield;
  }
  .react-datetime-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-datetime-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-datetime-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-datetime-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px +  0.54em);
  }
  .react-datetime-picker__calendar {
    border-radius: 4px;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    border-top-left-radius: 0 !important;
  }
  .react-datetime-picker__calendar .react-calendar {
    border-top-left-radius: 0 !important;
  }
  .react-datetime-picker__clock {
    border-radius: 4px;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    width: 240px;
    height: 240px;
    padding: 20px;
    border: 1px solid #a0a096;
    border-top-left-radius: 0;
  }
  .react-datetime-picker__clock .react-clock__second-hand {
    -webkit-transition: -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s, -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
  }
  .react-datetime-picker__clock .react-clock__second-hand__body:before {
    width: 5px;
    height: 5px;
  }
  .react-datetime-picker__clock .react-clock__second-hand__body:after {
    width: 15px;
    height: 15px;
  }
  .react-datetime-picker--open {
    border-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .react-datetime-picker--open .react-datetime-picker__wrapper {
    border-radius: 4px;
    border-bottom-left-radius: 0;
  }
  .react-datetime-picker__clock {
    border-top-right-radius: 0;
  }
  
  .react-time-picker {
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
  }
  .react-time-picker,
  .react-time-picker *,
  .react-time-picker *:before,
  .react-time-picker *:after {
    box-sizing: border-box;
  }
  .react-time-picker--disabled {
    background-color: #f0f0f0;
    color: #6d6d6d;
  }
  .react-time-picker__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 0;
    border: thin solid gray;
  }
  .react-time-picker__inputGroup {
    min-width: calc((4px * 3) + 0.54em * 6 + 0.217em * 2);
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding: 0 2px;
    box-sizing: content-box;
  }
  .react-time-picker__inputGroup__divider {
    padding: 1px 0;
    white-space: pre;
  }
  .react-time-picker__inputGroup__input {
    min-width: 0.54em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    font: inherit;
    box-sizing: content-box;
    -moz-appearance: textfield;
  }
  .react-time-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-time-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-time-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-time-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px + 0.54em);
  }
  .react-time-picker__inputGroup__amPm {
    font: inherit;
    -moz-appearance: menulist;
  }
  .react-time-picker__button {
    border: 0;
    background: transparent;
    padding: 4px 6px;
  }
  .react-time-picker__button:enabled {
    cursor: pointer;
  }
  .react-time-picker__button:enabled:hover .react-time-picker__button__icon,
  .react-time-picker__button:enabled:focus .react-time-picker__button__icon {
    stroke: #0078d7;
  }
  .react-time-picker__button:disabled .react-time-picker__button__icon {
    stroke: #6d6d6d;
  }
  .react-time-picker__button svg {
    display: inherit;
  }
  .react-time-picker__clock {
    width: 200px;
    height: 200px;
    max-width: 100vw;
    padding: 25px;
    background-color: white;
    border: thin solid #a0a096;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  .react-time-picker__clock--closed {
    display: none;
  }


  .react-time-picker--closed {
    border-radius: 4px;
  }
  .react-time-picker--closed .react-time-picker__wrapper {
    border-radius: 4px;
  }
  .react-time-picker--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-time-picker--open .react-time-picker__wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .react-time-picker__wrapper {
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .react-time-picker__inputGroup {
    min-width: calc(4px + (4px * 3) +  0.54em * 8  +  0.217em * 2);
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: flex;
    padding: 2px;
    -webkit-box-align: baseline;
            align-items: baseline;
  }
  .react-time-picker__inputGroup__divider {
    padding: 1px;
  }
  .react-time-picker__inputGroup__input {
    -moz-appearance: textfield;
  }
  .react-time-picker__inputGroup__input::-webkit-outer-spin-button,
  .react-time-picker__inputGroup__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .react-time-picker__inputGroup__input:invalid {
    background: rgba(255, 0, 0, 0.1);
  }
  .react-time-picker__inputGroup__input--hasLeadingZero {
    margin-left: -0.54em;
    padding-left: calc(1px +  0.54em);
  }
  .react-time-picker__calendar {
    border-radius: 4px;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    border-top-left-radius: 0 !important;
  }
  .react-time-picker__calendar .react-calendar {
    border-top-left-radius: 0 !important;
  }
  .react-time-picker__clock {
    border-radius: 4px;
    box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
    width: 220px;
    height: 220px;
    padding: 20px;
    border: 0;
    border-top-left-radius: 0;
  }
  .react-time-picker__clock .react-clock__second-hand {
    -webkit-transition: -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
    transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s, -webkit-transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
  }
  .react-time-picker__clock .react-clock__second-hand__body:before {
    width: 5px;
    height: 5px;
  }
  .react-time-picker__clock .react-clock__second-hand__body:after {
    width: 15px;
    height: 15px;
  }