@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Poppins_400_normal.eot); /* http://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfedg.eot */
    src: local('☺'),
        url(../fonts/Poppins_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfedg.eot */
        url(../fonts/Poppins_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfecg.woff2 */
        url(../fonts/Poppins_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfedA.woff */
        url(../fonts/Poppins_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfed3FHGPc.ttf */
        url(../fonts/Poppins_400_normal.svg#Poppins_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedQ&skey=87759fb096548f6d&v=v8#Poppins */
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Lato_400_normal.eot); /* http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWg.eot */
    src: local('☺'),
        url(../fonts/Lato_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWg.eot */
        url(../fonts/Lato_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2 */
        url(../fonts/Lato_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWA.woff */
        url(../fonts/Lato_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWyWtFCc.ttf */
        url(../fonts/Lato_400_normal.svg#Lato_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=S6uyw4BMUTPHjx4wWQ&skey=2d58b92a99e1c086&v=v16#Lato */
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Nunito_400_normal.eot); /* http://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaF.eot */
    src: local('☺'),
        url(../fonts/Nunito_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaF.eot */
        url(../fonts/Nunito_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaB.woff2 */
        url(../fonts/Nunito_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaH.woff */
        url(../fonts/Nunito_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaETMnFcQ.ttf */
        url(../fonts/Nunito_400_normal.svg#Nunito_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=XRXV3I6Li01BKofINeaG&skey=27bb6aa8eea8a5e7&v=v11#Nunito */
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/PT+Sans_400_normal.eot); /* http://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwQ.eot */
    src: local('☺'),
        url(../fonts/PT+Sans_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwQ.eot */
        url(../fonts/PT+Sans_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KExQ.woff2 */
        url(../fonts/PT+Sans_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEww.woff */
        url(../fonts/PT+Sans_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KEwMOPIDU.ttf */
        url(../fonts/PT+Sans_400_normal.svg#PT+Sans_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=jizaRExUiTo99u79D0KEwg&skey=fd0b32f0f3e6a1fc&v=v11#PTSans */
}