.label-custom {
  font-size: .875rem;
  font-weight: 300;
  background-color: #adb7be;
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  margin-right: 2px;
}

h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label {
    font-size: inherit
}

.label-pill {
    padding-right: .6em;
    padding-left: .6em;
    -webkit-border-radius: 10rem;
    border-radius: 10rem
}

.label-default {
    background-color: #6c7a86
}

.label-danger {
    background-color: $color-danger;
}

.label-outline-danger {
  background-color: transparent;
  border: 1px solid $color-danger;
  color: $color-danger;
}

.label-dark {
    background-color: #526069
}

.label-outline-dark {
  background-color: transparent;
  border: 1px solid #526069;
  color: #526069
}

.label-primary {
    background-color: $color-primary
}

.label-outline-primary {
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary
}

.label-success {
    background-color: $color-success
}

.label-outline-success {
  background-color: transparent;
  border: 1px solid $color-success;
  color: $color-success
}

.label-outline-success {
  background-color: transparent;
  border: 1px solid $color-success;
  color: $color-success
}

.label-default {
    background-color: #adb7be
}

.label-outline-default {
  background-color: transparent;
  border: 1px solid #adb7be;
  color: #adb7be
}

.label-warning {
    background-color: $color-warning
}

.label-outline-warning {
  background-color: transparent;
  border: 1px solid $color-warning;
  color: $color-warning;
}

.label-info {
    background-color: $color-info;
}

.label-outline-info {
  background-color: transparent;
  border: 1px solid $color-info;
  color: $color-info;
}

.label-light-grey {
    background-color: #eceff4;
    color: #919fa9
}

a.label-light-grey:hover {
    color: #fff;
    background-color: #00a8ff
}

.label.label-pill.label-custom {
    padding: 3px 6px 2px;
    font-size: .8125rem
} 


.label-input-danger {
    background-color: $color-danger;
    color: white;
    font-size:10px
}

.label-input-success {
    background-color: $color-success;
    color: white;
    font-size: 10px
}

.label-lg {
    font-size: 16px
}
 
 .label-sm {
    padding: .1em .5em .1em;
    font-size: 10px
 }


 @media (min-width:768px) {
    .control-label {
        margin-bottom: 0;
        padding-top: 7px
    }
}

