/**
** Lists
**/

.list-group-item {
    padding: .75rem 1.25rem;
    min-height: 30px;
    border: 0;
}

.list-group-item-border {
    padding: .75rem 1.25rem;
    min-height: 30px;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    display: flex;
}

.list-group-item.active, .list-group-item-border.active {
    color: $color-text-inverse;
    background-color: $color-primary;
}

.list-group-item:first-child, .list-group-item-border:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child, .list-group-item-border:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.list-group-item-border.disabled, .list-group-item-border:disabled {
    color: #636c72;
    cursor: not-allowed;
}

.list-group-container {
    border: solid 1px;
    border-color: #ddd;
    overflow: scroll;
    height: 200px;
}