$rt-namespace: 'anteros-notification';
$rt-toast-width: 320px !default;
$rt-toast-background: #ffffff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: #fff !default;
$rt-color-info: $color-info !default;
$rt-color-success: $color-success !default;
$rt-color-warning: $color-warning !default;
$rt-color-error: $color-danger !default;

$rt-text-color-default: #aaa !default;

$rt-color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !default;

$rt-mobile: "only screen and (max-width : 480px)" !default;
$rt-font-family: sans-serif !default;
$rt-z-index: 9999 !default;


/*********
***  Notification
*********/
@font-face {
  font-family: 'Notification';
  src: url('#{$notifications-font-base-path}/notification.eot?s3g3t9');
  src: url('#{$notifications-font-base-path}/notification.eot?#iefixs3g3t9') format('embedded-opentype'),
  url('#{$notifications-font-base-path}/notification.woff?s3g3t9') format('woff'),
  url('#{$notifications-font-base-path}/notification.ttf?s3g3t9') format('truetype'),
  url('#{$notifications-font-base-path}/notification.svg?s3g3t9#notification') format('svg');
  font-weight: normal;
  font-style: normal;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: $notifications-container-top;
  right: $notifications-container-right;
  z-index: $notifications-container-z-index;
  width: $notifications-container-width;
  padding: $notifications-container-top-padding $notifications-container-right-padding;
  max-height: $notifications-container-max-height;
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: $notifications-padding-top $notifications-padding-right $notifications-padding-bottom $notifications-padding-left;
  border-radius: $notifications-border-radius;
  color: $notifications-color;
  background-color: $notifications-background-color;
  box-shadow: $notifications-box-shadow;
  cursor: $notifications-cursor;
  font-size: $notifications-font-size;
  line-height: $notifications-line-height;
  position: relative;
  opacity: $notifications-opacity;
  margin-top: $notifications-margin-top;
  .title {
    font-size: $notifications-title-font-size;
    line-height: $notifications-title-line-height;
    font-weight: $notifications-title-font-weight;
    margin: $notifications-title-margin;
  }
  &:hover, &:focus {
    opacity: $notifications-hover-opacity;
  }
}

.notification-enter {
  visibility: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all $notifications-transition-time;
  transition: all $notifications-transition-time;
}

.notification-leave {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all $notifications-transition-time;
  transition: all $notifications-transition-time;
}

.notification {
  &:before {
    position: absolute;
    top: $notifications-icon-top;
    left: $notifications-icon-left;
    margin-top: $notifications-icon-margin-top;
    display: block;
    font-family: 'Notification';
    width: $notifications-icon-width;
    height: $notifications-icon-height;
    font-size: $notifications-icon-font-size;
    text-align: center;
    line-height: $notifications-icon-line-height;
  }
}

.notification-info {
  background-color: $notifications-info-background-color;
  &:before {
    content: $notifications-info-content;
  }
}

.notification-success {
  background-color: $notifications-success-background-color;
  &:before {
    content: $notifications-success-content;
  }
}

.notification-warning {
  background-color: $notifications-warning-background-color;
  &:before {
    content: $notifications-warning-content;
  }
}

.notification-error {
  background-color: $notifications-error-background-color;
  &:before {
    content: $notifications-error-content;
  }
}


.loading-indicator {
  text-align: center;
}
.loading-bullet {
  display: inline-block;
  opacity: 0;
  font-size: 2em;
  color: #02a17c;
}

.block-ui {
  min-height: 3em;
  position: relative!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
  top: 0!important;
}
.block-ui-container {
  position: absolute!important;
  z-index: 1010!important;
  top: 0!important;
  right: 0!important;
  bottom: 0!important;
  left: 0!important;
  height: auto!important;
  min-height: 2em!important;
  cursor: wait!important;
  overflow: hidden!important;
}

.block-ui-container:focus {
  outline: none;
}
.block-ui-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: white;
}
.block-ui-message-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10001;
  -webkit-box-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
          align-items: center;
  display:-webkit-box;
  display:flex
}
.block-ui-message {
  color: #333;
  background: none;
  z-index: 1011;
}

/* CSS Animations */
@-webkit-keyframes fadeInRTL1 {
  0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  30% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  60% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
}
@keyframes fadeInRTL1 {
  0% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  30% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  60% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
}
@-webkit-keyframes fadeInRTL2 {
  0% {
      opacity: 0;
  }
  10% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  40% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  60% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
}
@keyframes fadeInRTL2 {
  0% {
      opacity: 0;
  }
  10% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  40% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  60% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
}
@-webkit-keyframes fadeInRTL3 {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  50% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  60% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
}
@keyframes fadeInRTL3 {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 0;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  50% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
  60% {
      opacity: 1;
  }
  80% {
      opacity: 0;
  }
}
.loading-bullet {
  display: inline-block;
  opacity: 0;
  -webkit-animation: 3s ease .5s infinite fadeInRTL1;
  animation: 3s ease .5s infinite fadeInRTL1;
}
.loading-bullet + .loading-bullet {
  -webkit-animation-name: fadeInRTL2;
  animation-name: fadeInRTL2;
}
.loading-bullet + .loading-bullet + .loading-bullet {
  -webkit-animation-name: fadeInRTL3;
  animation-name: fadeInRTL3;
}


@mixin timing-function {
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@-webkit-keyframes #{$rt-namespace}__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
  }
  75% {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
  }
  90% {
      -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
  }
  to {
      -webkit-transform: none;
              transform: none;
  }
}

@keyframes #{$rt-namespace}__bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
  }
  75% {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
  }
  90% {
      -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
  }
  to {
      -webkit-transform: none;
              transform: none;
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceOutRight {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px, 0, 0);
              transform: translate3d(-20px, 0, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
              transform: translate3d(2000px, 0, 0);
  }
}

@keyframes #{$rt-namespace}__bounceOutRight {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px, 0, 0);
              transform: translate3d(-20px, 0, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
              transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
              transform: translate3d(-3000px, 0, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
              transform: translate3d(25px, 0, 0);
  }
  75% {
      -webkit-transform: translate3d(-10px, 0, 0);
              transform: translate3d(-10px, 0, 0);
  }
  90% {
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0);
  }
  to {
      -webkit-transform: none;
              transform: none;
  }
}

@keyframes #{$rt-namespace}__bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
              transform: translate3d(-3000px, 0, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
              transform: translate3d(25px, 0, 0);
  }
  75% {
      -webkit-transform: translate3d(-10px, 0, 0);
              transform: translate3d(-10px, 0, 0);
  }
  90% {
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0);
  }
  to {
      -webkit-transform: none;
              transform: none;
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceOutLeft {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(20px, 0, 0);
              transform: translate3d(20px, 0, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
              transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes #{$rt-namespace}__bounceOutLeft {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(20px, 0, 0);
              transform: translate3d(20px, 0, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
              transform: translate3d(-2000px, 0, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
              transform: translate3d(0, 3000px, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
  }
  75% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
  }
  90% {
      -webkit-transform: translate3d(0, -5px, 0);
              transform: translate3d(0, -5px, 0);
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
}

@keyframes #{$rt-namespace}__bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
              transform: translate3d(0, 3000px, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
  }
  75% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
  }
  90% {
      -webkit-transform: translate3d(0, -5px, 0);
              transform: translate3d(0, -5px, 0);
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceOutUp {
  20% {
      -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
      opacity: 1;
      -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
              transform: translate3d(0, -2000px, 0);
  }
}

@keyframes #{$rt-namespace}__bounceOutUp {
  20% {
      -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
      opacity: 1;
      -webkit-transform: translate3d(0, 20px, 0);
              transform: translate3d(0, 20px, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
              transform: translate3d(0, -2000px, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
              transform: translate3d(0, -3000px, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
              transform: translate3d(0, 25px, 0);
  }
  75% {
      -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
  }
  90% {
      -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
  }
  to {
      -webkit-transform: none;
              transform: none;
  }
}

@keyframes #{$rt-namespace}__bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
      @include timing-function;
  }
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
              transform: translate3d(0, -3000px, 0);
  }
  60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
              transform: translate3d(0, 25px, 0);
  }
  75% {
      -webkit-transform: translate3d(0, -10px, 0);
              transform: translate3d(0, -10px, 0);
  }
  90% {
      -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
  }
  to {
      -webkit-transform: none;
              transform: none;
  }
}

@-webkit-keyframes #{$rt-namespace}__bounceOutDown {
  20% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
              transform: translate3d(0, 2000px, 0);
  }
}

@keyframes #{$rt-namespace}__bounceOutDown {
  20% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
              transform: translate3d(0, 2000px, 0);
  }
}

.#{$rt-namespace}__bounce-enter {
  &--top-left,
  &--bottom-left {
      -webkit-animation-name: #{$rt-namespace}__bounceInLeft;
              animation-name: #{$rt-namespace}__bounceInLeft;
  }
  &--top-right,
  &--bottom-right {
      -webkit-animation-name: #{$rt-namespace}__bounceInRight;
              animation-name: #{$rt-namespace}__bounceInRight;
  }
  &--top-center {
      -webkit-animation-name: #{$rt-namespace}__bounceInDown;
              animation-name: #{$rt-namespace}__bounceInDown;
  }
  &--bottom-center {
      -webkit-animation-name: #{$rt-namespace}__bounceInUp;
              animation-name: #{$rt-namespace}__bounceInUp;
  }
}

.#{$rt-namespace}__bounce-exit {
  &--top-left,
  &--bottom-left {
      -webkit-animation-name: #{$rt-namespace}__bounceOutLeft;
              animation-name: #{$rt-namespace}__bounceOutLeft;
  }
  &--top-right,
  &--bottom-right {
      -webkit-animation-name: #{$rt-namespace}__bounceOutRight;
              animation-name: #{$rt-namespace}__bounceOutRight;
  }
  &--top-center {
      -webkit-animation-name: #{$rt-namespace}__bounceOutUp;
              animation-name: #{$rt-namespace}__bounceOutUp;
  }
  &--bottom-center {
      -webkit-animation-name: #{$rt-namespace}__bounceOutDown;
              animation-name: #{$rt-namespace}__bounceOutDown;
  }
}

@-webkit-keyframes #{$rt-namespace}__flipIn {
  from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
              transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
  }
  40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
              transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
  }
  60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
              transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1
  }
  80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
              transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
      -webkit-transform: perspective(400px);
              transform: perspective(400px);
  }
}

@keyframes #{$rt-namespace}__flipIn {
  from {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
              transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
  }
  40% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
              transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
  }
  60% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
              transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1
  }
  80% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
              transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
      -webkit-transform: perspective(400px);
              transform: perspective(400px);
  }
}

@-webkit-keyframes #{$rt-namespace}__flipOut {
  from {
      -webkit-transform: perspective(400px);
              transform: perspective(400px);
  }
  30% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
              transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1
  }
  to {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
              transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0
  }
}

@keyframes #{$rt-namespace}__flipOut {
  from {
      -webkit-transform: perspective(400px);
              transform: perspective(400px);
  }
  30% {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
              transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1
  }
  to {
      -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
              transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0
  }
}

.#{$rt-namespace}__flip-enter {
  -webkit-animation-name: #{$rt-namespace}__flipIn;
          animation-name: #{$rt-namespace}__flipIn;
}

.#{$rt-namespace}__flip-exit {
  -webkit-animation-name: #{$rt-namespace}__flipOut;
          animation-name: #{$rt-namespace}__flipOut;
}

@mixin transform {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes #{$rt-namespace}__slideInRight {
  from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@keyframes #{$rt-namespace}__slideInRight {
  from {
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@-webkit-keyframes #{$rt-namespace}__slideInLeft {
  from {
      -webkit-transform: translate3d(-110%, 0, 0);
              transform: translate3d(-110%, 0, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@keyframes #{$rt-namespace}__slideInLeft {
  from {
      -webkit-transform: translate3d(-110%, 0, 0);
              transform: translate3d(-110%, 0, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@-webkit-keyframes #{$rt-namespace}__slideInUp {
  from {
      -webkit-transform: translate3d(0, 110%, 0);
              transform: translate3d(0, 110%, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@keyframes #{$rt-namespace}__slideInUp {
  from {
      -webkit-transform: translate3d(0, 110%, 0);
              transform: translate3d(0, 110%, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@-webkit-keyframes #{$rt-namespace}__slideInDown {
  from {
      -webkit-transform: translate3d(0, -110%, 0);
              transform: translate3d(0, -110%, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@keyframes #{$rt-namespace}__slideInDown {
  from {
      -webkit-transform: translate3d(0, -110%, 0);
              transform: translate3d(0, -110%, 0);
      visibility: visible;
  }
  to {
      @include transform;
  }
}

@-webkit-keyframes #{$rt-namespace}__slideOutRight {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
  }
}

@keyframes #{$rt-namespace}__slideOutRight {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(110%, 0, 0);
              transform: translate3d(110%, 0, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__slideOutLeft {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(-110%, 0, 0);
              transform: translate3d(-110%, 0, 0);
  }
}

@keyframes #{$rt-namespace}__slideOutLeft {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(-110%, 0, 0);
              transform: translate3d(-110%, 0, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__slideOutDown {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 500px, 0);
              transform: translate3d(0, 500px, 0);
  }
}

@keyframes #{$rt-namespace}__slideOutDown {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(0, 500px, 0);
              transform: translate3d(0, 500px, 0);
  }
}

@-webkit-keyframes #{$rt-namespace}__slideOutUp {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -500px, 0);
              transform: translate3d(0, -500px, 0);
  }
}

@keyframes #{$rt-namespace}__slideOutUp {
  from {
      @include transform;
  }
  to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -500px, 0);
              transform: translate3d(0, -500px, 0);
  }
}

.#{$rt-namespace}__slide-enter {
  &--top-left,
  &--bottom-left {
      -webkit-animation-name: #{$rt-namespace}__slideInLeft;
              animation-name: #{$rt-namespace}__slideInLeft;
  }
  &--top-right,
  &--bottom-right {
      -webkit-animation-name: #{$rt-namespace}__slideInRight;
              animation-name: #{$rt-namespace}__slideInRight;
  }
  &--top-center {
      -webkit-animation-name: #{$rt-namespace}__slideInDown;
              animation-name: #{$rt-namespace}__slideInDown;
  }
  &--bottom-center {
      -webkit-animation-name: #{$rt-namespace}__slideInUp;
              animation-name: #{$rt-namespace}__slideInUp;
  }
}

.#{$rt-namespace}__slide-exit {
  &--top-left,
  &--bottom-left {
      -webkit-animation-name: #{$rt-namespace}__slideOutLeft;
              animation-name: #{$rt-namespace}__slideOutLeft;
  }
  &--top-right,
  &--bottom-right {
      -webkit-animation-name: #{$rt-namespace}__slideOutRight;
              animation-name: #{$rt-namespace}__slideOutRight;
  }
  &--top-center {
      -webkit-animation-name: #{$rt-namespace}__slideOutUp;
              animation-name: #{$rt-namespace}__slideOutUp;
  }
  &--bottom-center {
      -webkit-animation-name: #{$rt-namespace}__slideOutDown;
              animation-name: #{$rt-namespace}__slideOutDown;
  }
}

@-webkit-keyframes #{$rt-namespace}__zoomIn {
  from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
      opacity: 1;
  }
}

@keyframes #{$rt-namespace}__zoomIn {
  from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
      opacity: 1;
  }
}

@-webkit-keyframes #{$rt-namespace}__zoomOut {
  from {
      opacity: 1;
  }
  50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
      opacity: 0
  }
}

@keyframes #{$rt-namespace}__zoomOut {
  from {
      opacity: 1;
  }
  50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
      opacity: 0
  }
}

.#{$rt-namespace}__zoom-enter {
  -webkit-animation-name: #{$rt-namespace}__zoomIn;
          animation-name: #{$rt-namespace}__zoomIn;
}

.#{$rt-namespace}__zoom-exit {
  -webkit-animation-name: #{$rt-namespace}__zoomOut;
          animation-name: #{$rt-namespace}__zoomOut;
}


.#{$rt-namespace}__close-button {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  align-self: flex-start;
  &--default {
    color: #000;
    opacity: 0.3;
  }

  &:hover, &:focus {
    opacity: 1;
  }
}

@-webkit-keyframes #{$rt-namespace}__trackProgress {
  0%{
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100%{
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes #{$rt-namespace}__trackProgress {
  0%{
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100%{
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

.#{$rt-namespace}__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: $rt-z-index;
  opacity: 0.7;
  background-color: rgba(255,255,255,.7);
  -webkit-transform-origin: left;
          transform-origin: left;

  &--animated {
    -webkit-animation: #{$rt-namespace}__trackProgress linear 1 forwards;
            animation: #{$rt-namespace}__trackProgress linear 1 forwards;
  }

  &--controlled {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }

  &--rtl {
    right: 0;
    left: initial;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  &--default{
    background: $rt-color-progress-default;
  }

  &--info{}
  &--success{}
  &--warning{}
  &--error{}
}

.#{$rt-namespace}__toast {
  position: relative;
  min-height: $rt-toast-min-height;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 1px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  max-height: $rt-toast-max-height;
  overflow: hidden;
  font-family: $rt-font-family;
  cursor: pointer;
  direction: ltr;
  &--rtl {
      direction: rtl;
  }
  &--default {
      background: $rt-color-default;
      color: $rt-text-color-default;
  }
  &--info {
      background: $rt-color-info;
  }
  &--success {
      background: $rt-color-success;
  }
  &--warning {
      background: $rt-color-warning;
  }
  &--error {
      background: $rt-color-error;
  }
  &-body {
      margin: auto 0;
      -webkit-box-flex: 1;
              flex: 1;
  }
}

@media #{$rt-mobile} {
.#{$rt-namespace}__toast{
  margin-bottom: 0;  
}
}

.#{$rt-namespace}__toast-container {
  z-index: $rt-z-index;
  -webkit-transform: translate3d(0, 0, #{$rt-z-index}px);
  position: fixed;
  padding: 4px;
  width: $rt-toast-width;
  box-sizing: border-box;
  color: #fff;
  &--top-left {
      top: 1em;
      left: 1em;
  }
  &--top-center {
      top: 1em;
      left: 50%;
      margin-left: -($rt-toast-width / 2);
  }
  &--top-right {
      top: 1em;
      right: 1em;
  }
  &--bottom-left {
      bottom: 1em;
      left: 1em;
  }
  &--bottom-center {
      bottom: 1em;
      left: 50%;
      margin-left: -($rt-toast-width / 2);
  }
  &--bottom-right {
      bottom: 1em;
      right: 1em;
  }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast-container {
      width: 100vw;
      padding: 0;
      left: 0;
      margin: 0;
      &--top-left,
      &--top-center,
      &--top-right {
          top: 0;
      }
      &--bottom-left,
      &--bottom-center,
      &--bottom-right {
          bottom: 0;
      }
      &--rtl{
        right: 0;
        left: initial;
      }
  }
}