/*********
***  Object inspector
*********/
.meta-attributes {
    color: #999999
}

.meta-attributes tr td {
    font-size: 14px;
    padding-bottom: 15px;
    vertical-align: top
}

.meta-attributes tr:last-child td {
    padding-bottom: 0px
}

.meta-attributes a {
    color: #0084B4
}

.meta-attributes a:hover {
    color: #00719b
}

.meta-attributes__attr-name {
    color: #454545;
    font-weight: bold;
    padding-right: 10px;
    width: 140px
}

.meta-attributes__attr-tags {
    display: table-cell;
    position: relative;
    padding-right: 9px;
    max-width: 185px;
    overflow: hidden
}

.meta-attributes__attr-tags:before {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(rgba(250, 250, 250, 0)), color-stop(90%, rgba(250, 250, 250, 0.8)), to(#fafafa));
    background: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(250, 250, 250, 0.8) 90%, #fafafa 100%);
    top: 1px;
    right: 0px;
    width: 10%;
    height: 100%;
    z-index: 10
}

.ie9 .meta-attributes__attr-tags {
    white-space: normal
}

