
/**
* Ribbon
**/

.ribbon {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: transparent
}

.ribbon-inner {
    position: absolute;
    top: 16px;
    left: 0;
    display: inline-block;
    height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 30px;
    color: #fff;
    white-space: nowrap;
    background-color: #526069
}

.ribbon-inner .icon {
    font-size: 16px
}

.ribbon-lg .ribbon-inner {
    height: 38px;
    font-size: 18px;
    line-height: 38px
}

.ribbon-sm .ribbon-inner {
    height: 26px;
    font-size: 12px;
    line-height: 26px
}

.ribbon-xs .ribbon-inner {
    height: 22px;
    font-size: 12px;
    line-height: 22px
}

.ribbon-vertical .ribbon-inner {
    top: 0;
    left: 16px;
    width: 30px;
    height: 60px;
    padding: 15px 0
}

.ribbon-vertical.ribbon-xs .ribbon-inner {
    width: 22px;
    height: 50px
}

.ribbon-vertical.ribbon-sm .ribbon-inner {
    width: 26px;
    height: 55px
}

.ribbon-vertical.ribbon-lg .ribbon-inner {
    width: 38px;
    height: 70px
}

.ribbon-reverse {
    right: -3px;
    left: auto
}

.ribbon-reverse .ribbon-inner {
    right: 0;
    left: auto
}

.ribbon-reverse.ribbon-vertical .ribbon-inner {
    right: 16px
}

.ribbon-bookmark .ribbon-inner {
    box-shadow: none
}

.ribbon-bookmark .ribbon-inner:before {
    position: absolute;
    top: 0;
    left: 100%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 15px solid #526069;
    border-right: 10px solid transparent
}

.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
    top: 100%;
    left: 0;
    margin-top: -15px;
    border-right: 15px solid #526069;
    border-bottom: 10px solid transparent
}

.ribbon-bookmark.ribbon-vertical.ribbon-xs .ribbon-inner:before {
    margin-top: -11px
}

.ribbon-bookmark.ribbon-vertical.ribbon-sm .ribbon-inner:before {
    margin-top: -13px
}

.ribbon-bookmark.ribbon-vertical.ribbon-lg .ribbon-inner:before {
    margin-top: -19px
}

.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
    right: 100%;
    left: auto;
    border-right: 15px solid #526069;
    border-left: 10px solid transparent
}

.ribbon-bookmark.ribbon-reverse.ribbon-vertical .ribbon-inner:before {
    right: auto;
    left: 0;
    border-right-color: #526069;
    border-bottom-color: transparent;
    border-left: 15px solid #526069
}

.ribbon-bookmark.ribbon-xs .ribbon-inner:before {
    border-width: 11px
}

.ribbon-bookmark.ribbon-sm .ribbon-inner:before {
    border-width: 13px
}

.ribbon-bookmark.ribbon-lg .ribbon-inner:before {
    border-width: 19px
}

.ribbon-badge {
    top: -2px;
    left: -2px;
    overflow: hidden
}

.ribbon-badge .ribbon-inner {
    left: -40px;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ribbon-badge.ribbon-reverse {
    right: -2px;
    left: auto
}

.ribbon-badge.ribbon-reverse .ribbon-inner {
    right: -40px;
    left: auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ribbon-badge.ribbon-bottom {
    top: auto;
    bottom: -2px
}

.ribbon-badge.ribbon-bottom .ribbon-inner {
    top: auto;
    bottom: 16px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ribbon-badge.ribbon-bottom.ribbon-reverse .ribbon-inner {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ribbon-corner {
    top: 0;
    left: 0;
    overflow: hidden
}

.ribbon-corner .ribbon-inner {
    top: 0;
    left: 0;
    width: 40px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    background-color: transparent
}

.ribbon-corner .ribbon-inner:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: '';
    border: 30px solid transparent;
    border-top-color: #526069;
    border-left-color: #526069
}

.ribbon-corner.ribbon-reverse {
    right: 0;
    left: auto
}

.ribbon-corner.ribbon-reverse .ribbon-inner {
    right: 0;
    left: auto
}

.ribbon-corner.ribbon-reverse .ribbon-inner:before {
    right: 0;
    left: auto;
    border-right-color: #526069;
    border-left-color: transparent
}

.ribbon-corner.ribbon-bottom {
    top: auto;
    bottom: 0
}

.ribbon-corner.ribbon-bottom .ribbon-inner {
    top: auto;
    bottom: 0
}

.ribbon-corner.ribbon-bottom .ribbon-inner:before {
    top: auto;
    bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #526069
}

.ribbon-corner.ribbon-xs .ribbon-inner {
    width: 28px;
    height: 26px;
    line-height: 26px
}

.ribbon-corner.ribbon-xs .ribbon-inner:before {
    border-width: 22px
}

.ribbon-corner.ribbon-xs .ribbon-inner > .icon {
    font-size: 12px
}

.ribbon-corner.ribbon-sm .ribbon-inner {
    width: 34px;
    height: 32px;
    line-height: 32px
}

.ribbon-corner.ribbon-sm .ribbon-inner:before {
    border-width: 26px
}

.ribbon-corner.ribbon-sm .ribbon-inner > .icon {
    font-size: 12px
}

.ribbon-corner.ribbon-lg .ribbon-inner {
    width: 46px;
    height: 44px;
    line-height: 44px
}

.ribbon-corner.ribbon-lg .ribbon-inner:before {
    border-width: 36px
}

.ribbon-corner.ribbon-lg .ribbon-inner > .icon {
    font-size: 18px
}

.ribbon-clip {
    left: -14px
}

.ribbon-clip .ribbon-inner {
    padding-left: 23px;
    border-radius: 0 5px 5px 0
}

.ribbon-clip .ribbon-inner:after {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 0;
    height: 0;
    content: '';
    border: 7px solid transparent;
    border-top-color: #37474f;
    border-right-color: #37474f
}

.ribbon-clip.ribbon-reverse {
    right: -14px;
    left: auto
}

.ribbon-clip.ribbon-reverse .ribbon-inner {
    padding-right: 23px;
    padding-left: 15px;
    border-radius: 5px 0 0 5px
}

.ribbon-clip.ribbon-reverse .ribbon-inner:after {
    right: 0;
    left: auto;
    border-right-color: transparent;
    border-left-color: #37474f
}

.ribbon-clip.ribbon-bottom {
    top: auto;
    bottom: -3px
}

.ribbon-clip.ribbon-bottom .ribbon-inner {
    top: auto;
    bottom: 16px
}

.ribbon-clip.ribbon-bottom .ribbon-inner:after {
    top: -14px;
    bottom: auto;
    border-top-color: transparent;
    border-bottom-color: #37474f
}

.ribbon-primary .ribbon-inner {
    background-color: #62a8ea
}

.ribbon-primary.ribbon-bookmark .ribbon-inner:before {
    border-color: #62a8ea;
    border-right-color: transparent
}

.ribbon-primary.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
    border-right-color: #62a8ea;
    border-left-color: transparent
}

.ribbon-primary.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
    border-right-color: #62a8ea;
    border-bottom-color: transparent
}

.ribbon-primary.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
    border-right-color: #62a8ea;
    border-bottom-color: transparent;
    border-left-color: #62a8ea
}

.ribbon-primary.ribbon-corner .ribbon-inner {
    background-color: transparent
}

.ribbon-primary.ribbon-corner .ribbon-inner:before {
    border-top-color: #62a8ea;
    border-left-color: #62a8ea
}

.ribbon-primary.ribbon-corner.ribbon-reverse .ribbon-inner:before {
    border-right-color: #62a8ea;
    border-left-color: transparent
}

.ribbon-primary.ribbon-corner.ribbon-bottom .ribbon-inner:before {
    border-top-color: transparent;
    border-bottom-color: #62a8ea
}

.ribbon-primary .ribbon-inner:after {
    border-top-color: #4e97d9;
    border-right-color: #4e97d9
}

.ribbon-primary.ribbon-reverse .ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: #4e97d9
}

.ribbon-primary.ribbon-bottom .ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: #4e97d9
}

.ribbon-success .ribbon-inner {
    background-color: #46be8a
}

.ribbon-success.ribbon-bookmark .ribbon-inner:before {
    border-color: #46be8a;
    border-right-color: transparent
}

.ribbon-success.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
    border-right-color: #46be8a;
    border-left-color: transparent
}

.ribbon-success.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
    border-right-color: #46be8a;
    border-bottom-color: transparent
}

.ribbon-success.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
    border-right-color: #46be8a;
    border-bottom-color: transparent;
    border-left-color: #46be8a
}

.ribbon-success.ribbon-corner .ribbon-inner {
    background-color: transparent
}

.ribbon-success.ribbon-corner .ribbon-inner:before {
    border-top-color: #46be8a;
    border-left-color: #46be8a
}

.ribbon-success.ribbon-corner.ribbon-reverse .ribbon-inner:before {
    border-right-color: #46be8a;
    border-left-color: transparent
}

.ribbon-success.ribbon-corner.ribbon-bottom .ribbon-inner:before {
    border-top-color: transparent;
    border-bottom-color: #46be8a
}

.ribbon-success .ribbon-inner:after {
    border-top-color: #36ab7a;
    border-right-color: #36ab7a
}

.ribbon-success.ribbon-reverse .ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: #36ab7a
}

.ribbon-success.ribbon-bottom .ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: #36ab7a
}

.ribbon-info .ribbon-inner {
    background-color: #57c7d4
}

.ribbon-info.ribbon-bookmark .ribbon-inner:before {
    border-color: #57c7d4;
    border-right-color: transparent
}

.ribbon-info.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
    border-right-color: #57c7d4;
    border-left-color: transparent
}

.ribbon-info.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
    border-right-color: #57c7d4;
    border-bottom-color: transparent
}

.ribbon-info.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
    border-right-color: #57c7d4;
    border-bottom-color: transparent;
    border-left-color: #57c7d4
}

.ribbon-info.ribbon-corner .ribbon-inner {
    background-color: transparent
}

.ribbon-info.ribbon-corner .ribbon-inner:before {
    border-top-color: #57c7d4;
    border-left-color: #57c7d4
}

.ribbon-info.ribbon-corner.ribbon-reverse .ribbon-inner:before {
    border-right-color: #57c7d4;
    border-left-color: transparent
}

.ribbon-info.ribbon-corner.ribbon-bottom .ribbon-inner:before {
    border-top-color: transparent;
    border-bottom-color: #57c7d4
}

.ribbon-info .ribbon-inner:after {
    border-top-color: #47b8c6;
    border-right-color: #47b8c6
}

.ribbon-info.ribbon-reverse .ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: #47b8c6
}

.ribbon-info.ribbon-bottom .ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: #47b8c6
}

.ribbon-warning .ribbon-inner {
    background-color: #f2a654
}

.ribbon-warning.ribbon-bookmark .ribbon-inner:before {
    border-color: #f2a654;
    border-right-color: transparent
}

.ribbon-warning.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
    border-right-color: #f2a654;
    border-left-color: transparent
}

.ribbon-warning.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
    border-right-color: #f2a654;
    border-bottom-color: transparent
}

.ribbon-warning.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
    border-right-color: #f2a654;
    border-bottom-color: transparent;
    border-left-color: #f2a654
}

.ribbon-warning.ribbon-corner .ribbon-inner {
    background-color: transparent
}

.ribbon-warning.ribbon-corner .ribbon-inner:before {
    border-top-color: #f2a654;
    border-left-color: #f2a654
}

.ribbon-warning.ribbon-corner.ribbon-reverse .ribbon-inner:before {
    border-right-color: #f2a654;
    border-left-color: transparent
}

.ribbon-warning.ribbon-corner.ribbon-bottom .ribbon-inner:before {
    border-top-color: transparent;
    border-bottom-color: #f2a654
}

.ribbon-warning .ribbon-inner:after {
    border-top-color: #ec9940;
    border-right-color: #ec9940
}

.ribbon-warning.ribbon-reverse .ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: #ec9940
}

.ribbon-warning.ribbon-bottom .ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: #ec9940
}

.ribbon-danger .ribbon-inner {
    background-color: #f96868
}

.ribbon-danger.ribbon-bookmark .ribbon-inner:before {
    border-color: #f96868;
    border-right-color: transparent
}

.ribbon-danger.ribbon-bookmark.ribbon-reverse .ribbon-inner:before {
    border-right-color: #f96868;
    border-left-color: transparent
}

.ribbon-danger.ribbon-bookmark.ribbon-vertical .ribbon-inner:before {
    border-right-color: #f96868;
    border-bottom-color: transparent
}

.ribbon-danger.ribbon-bookmark.ribbon-vertical.ribbon-reverse .ribbon-inner:before {
    border-right-color: #f96868;
    border-bottom-color: transparent;
    border-left-color: #f96868
}

.ribbon-danger.ribbon-corner .ribbon-inner {
    background-color: transparent
}

.ribbon-danger.ribbon-corner .ribbon-inner:before {
    border-top-color: #f96868;
    border-left-color: #f96868
}

.ribbon-danger.ribbon-corner.ribbon-reverse .ribbon-inner:before {
    border-right-color: #f96868;
    border-left-color: transparent
}

.ribbon-danger.ribbon-corner.ribbon-bottom .ribbon-inner:before {
    border-top-color: transparent;
    border-bottom-color: #f96868
}

.ribbon-danger .ribbon-inner:after {
    border-top-color: #e9595b;
    border-right-color: #e9595b
}

.ribbon-danger.ribbon-reverse .ribbon-inner:after {
    border-right-color: transparent;
    border-left-color: #e9595b
}

.ribbon-danger.ribbon-bottom .ribbon-inner:after {
    border-top-color: transparent;
    border-bottom-color: #e9595b
}

.ribbon-container {
    position: relative;
    padding: 50px 15px 15px 50px;
    background-color: #f3f7fa;
    border: 1px solid #eee
}
.ribbon-container-reverse {
    padding: 50px 50px 15px 15px
}
.ribbon-container-bottom {
    padding: 15px 15px 50px 50px
}
.ribbon-container-bottom-reverse {
    padding: 15px 50px 50px 15px
}