.sidebar {
	background: $sidebar-menu-background;
	color: #678098;
	width: $sidebar-width;
	padding-bottom: 60px;
	position: absolute;
	top: $header-height;
	font-size: $sidebar-font-size;
	left: 0;
	bottom: 0;
	transition: left 0.3s ease;
	-webkit-transition: left 0.3s ease;
	z-index: 20;

	@include media-down(sm) {
        top: 0px; } 

  	@include media-down(md) {
		position: fixed;
		left: -$sidebar-width;
	}
 
	.sidebar-fixed & {
		position: fixed;
	}

	.sidebar-open & {
		left: 0;

	}

	.sidebar-container {
		position: absolute;
		top: 0;
		bottom: 51px;
		width: 100%;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: $sidebar-color-primary;

		&::-webkit-scrollbar-track {
			background-color: darken($sidebar-color-primary, 6.5%);
		}

		&::-moz-scrollbar-track {
			background-color: darken($sidebar-color-primary, 6.5%);
		}
	}

	.nav {

		font-size: $sidebar-font-size;

		// Common styles
		li {
			a:focus,
			.open & a:focus {
				background-color: $sidebar-color-primary;
			}
		}

		// Second + menu items
		ul {
			padding: 0;
			height: auto;
			overflow: hidden;

			.loaded & {
				height: auto;
			}
		}

		li.active ul {
			height: auto;
		}


		// All links which are not active
		// have subdued color
		li a {
			color: $sidebar-color-text;
			text-decoration: none;
			font-size: $sidebar-font-size;
		}

		// All links which are not active
		// On hover bg become darker
		// Their color become lighter
		li a:hover,
		li.open > a,
		li.open a:hover {
			color: $sidebar-color-text-hover;
			background-color: $sidebar-color-hover;
		}


		// First level items
		&> li {

			// First level items links
			& > a {
				padding-top: 15px;
	            padding-bottom: 15px;
	            padding-left: 20px;
	            padding-right: 10px;
			}

			// First level active links have primary background
			&.active > a,
			&.active > a:hover {
				background-color: $sidebar-color-hover !important; 
				color: $sidebar-color-text-hover !important;
			}

			// First level active links have bit darker background
			&.open > a {
				background-color: $sidebar-color-primary;
			}

			// Open items links
			&.open > a {
				i.arrow {
					transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}

			// First level item links arrow 
			& > a {
				i {
					margin-right: 5px;
					font-size: $sidebar-font-icon-size;

					&.arrow {
						float: right;
						font-size: 20px;
						line-height: initial;
						transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;

						&:before {
							content: "\f105" !important;
						}
					}
				}
			}

		}

		// Second level items
		& > li > ul > li {

			// Second level and deeper items links
			// Have bit darker background and more padding 
			// from left side
			a {
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 50px;
				background-color: $sidebar-color-secondary;
			}

			// Second level active items links
			// Have brighter color
			&.active a {
				background-color: $sidebar-color-active;
				color: $sidebar-color-text-active;
			}
		}
	}

}

.sidebar-header {
	.brand {
		background-color: $color-primary;
		text-align: left;
		padding-left: 5px;
		line-height: $header-height;
		font-size: 16px;
		
		@include media-down(sm) {
			line-height: 50px;
			font-size: 16px;
		}
	}
}

.sidebar-overlay {
	position: absolute;
	display: none;
	left: 200vw;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	opacity: 0;
	font-size: $sidebar-font-size;
	transition: opacity 0.3s ease;
	z-index: 15;

	@include media-down(md) {
		display: block;
	}

	@include media-down(sm) {
		background-color: fade-out(#000, 0.3);
	}


	.sidebar-open & {
		@include media-down(md) {
			left: 0;
			opacity: 1;
		}
	}
}

.sidebar-footer {
  border-top: 1px solid #cfd8dc;
}

.sidebar li i {
	font-size: $sidebar-font-icon-size
}

.app-page {
	margin: 8px;
}

.app-page-wrapper [direction="right"] {
    border-right: none;
    z-index: 999 !important; }
  
  .app-sidebar {
	background: $sidebar-background;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16.25rem;
    background-position: bottom center;
    overflow: hidden;
    transition: all 200ms ease 0s;
    height: 100%; }
    .app-sidebar .site-logo {
      padding: 0.5rem 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      align-items: center;
	  // display: flex;
	  justify-content: center;
	  height: $header-height;
		// background: $color-primary;
		}
    .app-sidebar .app-sidebar-wrap .top-sidebar .sidebar-user-block {
      padding: 1.25rem; }
    .app-sidebar .user-profile > img {
      border-top: 5px solid #fff;
      border-bottom: 5px solid #fff;
      border-left: 5px solid #fff;
      border-right: 5px solid #fff;
	  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5); }
	  
	
    .app-sidebar .dropdown > a {
      font-size: 1.125rem; }
      .app-sidebar .dropdown > a::after {
        margin-left: 0.9375rem;
        vertical-align: .1rem; }
    .app-sidebar .app-mainMenu .side-title {
      position: relative;
      background-color: transparent;
      font-size: $sidebar-font-size; }

      .app-sidebar .app-mainMenu .side-title span {
        font-size: 14px; }
    .app-sidebar .app-mainMenu div, .app-sidebar .app-mainMenu li, .app-sidebar .app-mainMenu li a, .app-sidebar .app-mainMenu li a i, .app-sidebar .app-mainMenu li i {
		font-size: $sidebar-font-size; }
    .app-sidebar .app-mainMenu li a.item-active, .app-sidebar .app-mainMenu li a.item-active i, .app-sidebar .app-mainMenu li.item-active, .app-sidebar .app-mainMenu li.item-active i {
      font-weight: bold; }
    .app-sidebar .app-mainMenu div i, .app-sidebar .app-mainMenu li i {
      margin-right: 0.9375rem;
	  display: inline-block;
	  font-size: $sidebar-font-icon-size;
      line-height: 24px; }
        
  
    .app-sidebar .app-mainMenu li {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 24px;
        padding-right: 24px;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;        
    } 
    .app-sidebar .app-mainMenu a {
        width: 100%;
        display: flex;
        position: relative;
        box-sizing: border-box;
        text-align: left;
        align-items: center;
		justify-content: flex-start;
		font-size: $sidebar-font-size;
        text-decoration: none;
    }
    .app-sidebar .app-mainMenu div a, .app-sidebar .app-mainMenu div span, .app-sidebar .app-mainMenu li a, .app-sidebar .app-mainMenu li span {
      width: 100%;
      font-size: 1rem; }
    .app-sidebar .app-mainMenu div h3, .app-sidebar .app-mainMenu li h3 {
      color: #464D69; }
    .app-sidebar .app-mainMenu div .side-arrow, .app-sidebar .app-mainMenu li .side-arrow {
      margin-right: -5px;
      font-size: $sidebar-font-size;
      transition: transform 0.2s ease-in-out;
      transform: rotate(0); }
    .app-sidebar .app-mainMenu li.item-active .side-arrow {
      transform: rotate(90deg); }
    .app-sidebar .app-mainMenu .sub-menu {
      padding: 0; }
      .app-sidebar .app-mainMenu .sub-menu li {
        padding-left: 3.8rem; }
  
  .app-sidebar [class*="sidebar-overlay-"] {
    height: 100%; }
  
  .app-sidebar .sidebar-overlay-dark {
    background: rgba(0, 0, 0, 0.8); }
    .app-sidebar .sidebar-overlay-dark .app-mainMenu div, .app-sidebar .sidebar-overlay-dark .app-mainMenu li, .app-sidebar .sidebar-overlay-dark .app-mainMenu li a, .app-sidebar .sidebar-overlay-dark .app-mainMenu li a i, .app-sidebar .sidebar-overlay-dark .app-mainMenu li i {
      color: #fff; }
    .app-sidebar .sidebar-overlay-dark .sidebar-user-block .dropdown > a {
      color: #fff !important; }
  
  .app-sidebar .sidebar-overlay-light {
    background: transparent}
    .app-sidebar .sidebar-overlay-light .app-mainMenu div, .app-sidebar .sidebar-overlay-light .app-mainMenu li, .app-sidebar .sidebar-overlay-light .app-mainMenu li a, .app-sidebar .sidebar-overlay-light .app-mainMenu li a i, .app-sidebar .sidebar-overlay-light .app-mainMenu li i {
      color: #fff; }
    .app-sidebar .sidebar-overlay-light .sidebar-user-block .dropdown > a {
      color: #fff; }
  
  .collapsed-sidebar .app-header {
    left: 0; }
  
  .collapsed-sidebar .app-sidebar {
    width: 0; }
  
  .collapsed-sidebar .app-app-content {
    width: 100%; }
  
  .custom-dropdown-menu, .notification-icon .custom-dropdown-menu, .cart-icon .custom-dropdown-menu, .app-dropdown .custom-dropdown-menu {
    padding: 0;
    transform: translateY(70px) !important;
    display: block;
    visibility: hidden;
    left: auto !important;
    opacity: 0; }
    .custom-dropdown-menu::before, .notification-icon .custom-dropdown-menu::before, .cart-icon .custom-dropdown-menu::before, .app-dropdown .custom-dropdown-menu::before, .custom-dropdown-menu::after, .notification-icon .custom-dropdown-menu::after, .cart-icon .custom-dropdown-menu::after, .app-dropdown .custom-dropdown-menu::after {
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      right: 10%; }
    .custom-dropdown-menu::before, .notification-icon .custom-dropdown-menu::before, .cart-icon .custom-dropdown-menu::before, .app-dropdown .custom-dropdown-menu::before {
      border-bottom: 11px solid #DEE4E8;
      content: "";
      position: absolute;
      top: -11px; }
    .custom-dropdown-menu::after, .notification-icon .custom-dropdown-menu::after, .cart-icon .custom-dropdown-menu::after, .app-dropdown .custom-dropdown-menu::after {
      border-bottom: 9px solid #fff;
      content: "";
      position: absolute;
      top: -9px; }
  
  .app-sidebar .top-sidebar .sidebar-user-block ul {
    background-color: #FAFAFA; }
    .app-sidebar .top-sidebar .sidebar-user-block ul li:not(:first-child) {
      box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
      margin: 0.3125rem; }
      .app-sidebar .top-sidebar .sidebar-user-block ul li:not(:first-child) a {
        background-color: #fff; }
        .app-sidebar .top-sidebar .sidebar-user-block ul li:not(:first-child) a:hover {
          background-color: $color-primary-two; }
  
  .app-sidebar .top-sidebar .sidebar-user-block .app-dropdown.show .custom-dropdown-menu {
		transform: translateY(65px) !important;
		z-index: 200;
	 }
    .app-sidebar .top-sidebar .sidebar-user-block .app-dropdown.show .custom-dropdown-menu:after, .app-sidebar .top-sidebar .sidebar-user-block .app-dropdown.show .custom-dropdown-menu:before {
			border-bottom-color: $color-primary;
			z-index: 200;
		}
  
  .app-dropdown a i {
    line-height: 1.5;
    font-size: 0.8rem; }
  
  .app-dropdown.show .custom-dropdown-menu {
    opacity: 1;
    transform: translateY(49px) !important;
    visibility: visible; }
  
  .app-dropdown .custom-dropdown-menu {
    width: 14rem;
		right: 0px !important;
		position: absolute;
		z-index: 200;
		}
    .app-dropdown .custom-dropdown-menu ul li a {
      display: block;
      color: #727891;
      padding: 0.625rem; }
      .app-dropdown .custom-dropdown-menu ul li a i {
        margin-right: 0.9375rem;
        font-size: 1.125rem;
        vertical-align: -4px; }
      .app-dropdown .custom-dropdown-menu ul li a .badge {
        border-radius: 100%;
        height: 25px;
        width: 25px;
        line-height: 25px;
        padding: 0 !important; }
      .app-dropdown .custom-dropdown-menu ul li a:hover {
        color: #fff;
        background: $color-primary-two; }
  
	.app-header {
		background: $header-background;
		z-index: -9 !important;
		min-height: $header-height;
	}

	.app-header .site-logo {
		width: $sidebar-width;
		padding: 0.5rem 0.5rem;
		align-items: center;
		// display: flex;
		justify-content: center;
		height: $header-height;
		// background: $color-primary; 
}


.user-menu .user-menu-header {
	background-color: $color-primary;
	padding: 15px;
} 

.user-menu ul {
	background-color: #FAFAFA; }
	.user-menu ul li:not(:first-child) {
		box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
		margin: 0.3125rem; }
		.user-menu ul li:not(:first-child) a {
			background-color: #fff; }
			.user-menu ul li:not(:first-child) a:hover {
				background-color: $color-primary-two; }

.user-menu ul li a:hover {
	color: #fff;
	background: $color-primary-two;
}


.user-menu .custom-dropdown-menu::after {
	border-bottom: 9px solid $color-primary;
	content: "";
	position: absolute;
	top: -9px; }