/*********
***  Sidebar
*********/
.sidebar {
  background: $sidebar-menu-background;
  color: #678098;
  width: $sidebar-width;
  padding-bottom: 60px;
  position: absolute;
  top: $header-height;
  font-size: $sidebar-font-size;
  left: 0;
  bottom: 0;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  z-index: 20;

  @include media-down(sm) {
    top: 0px;
  }

  @include media-down(md) {
    position: fixed;
    left: -$sidebar-width;
  }

  .sidebar-fixed & {
    position: fixed;
  }

  .sidebar-open & {
    left: 0;
  }

  .sidebar-container {
    position: absolute;
    top: 0;
    bottom: 51px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $sidebar-color-primary;

    &::-webkit-scrollbar-track {
      background-color: darken($sidebar-color-primary, 6.5%);
    }

    &::-moz-scrollbar-track {
      background-color: darken($sidebar-color-primary, 6.5%);
    }
  }

  .nav {
    font-size: $sidebar-font-size;

    // Common styles
    li {
      a:focus,
      .open & a:focus {
        background-color: $sidebar-color-primary;
      }
    }

    // Second + menu items
    ul {
      padding: 0;
      height: auto;
      overflow: hidden;

      .loaded & {
        height: auto;
      }
    }

    li.active ul {
      height: auto;
    }

    // All links which are not active
    // have subdued color
    li a {
      color: $sidebar-color-text;
      text-decoration: none;
      font-size: $sidebar-font-size;
    }

    // All links which are not active
    // On hover bg become darker
    // Their color become lighter
    li a:hover,
    li.open > a,
    li.open a:hover {
      color: $sidebar-color-text-hover;
      background-color: $sidebar-color-hover;
    }

    // First level items
    & > li {
      // First level items links
      & > a {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 10px;
      }

      // First level active links have primary background
      &.active > a,
      &.active > a:hover {
        background-color: $sidebar-color-hover !important;
        color: $sidebar-color-text-hover !important;
      }

      // First level active links have bit darker background
      &.open > a {
        background-color: $sidebar-color-primary;
      }

      // Open items links
      &.open > a {
        i.arrow {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
      }

      // First level item links arrow
      & > a {
        i {
          margin-right: 5px;
          font-size: $sidebar-font-icon-size;

          &.arrow {
            float: right;
            font-size: 20px;
            line-height: initial;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            &:before {
              content: "\f105" !important;
            }
          }
        }
      }
    }

    // Second level items
    & > li > ul > li {
      // Second level and deeper items links
      // Have bit darker background and more padding
      // from left side
      a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
        background-color: $sidebar-color-secondary;
      }

      // Second level active items links
      // Have brighter color
      &.active a {
        background-color: $sidebar-color-active;
        color: $sidebar-color-text-active;
      }
    }
  }
}

.sidebar-header {
  .brand {
    background-color: $color-primary;
    text-align: left;
    padding-left: 5px;
    line-height: $header-height;
    font-size: 16px;

    @include media-down(sm) {
      line-height: 50px;
      font-size: 16px;
    }
  }
}

.sidebar-overlay {
  position: absolute;
  display: none;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  font-size: $sidebar-font-size;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 15;

  @include media-down(md) {
    display: block;
  }

  @include media-down(sm) {
    background-color: fade-out(#000, 0.3);
  }

  .sidebar-open & {
    @include media-down(md) {
      left: 0;
      opacity: 1;
    }
  }
}

.sidebar-footer {
  border-top: 1px solid #cfd8dc;
}

.sidebar li i {
  font-size: $sidebar-font-icon-size;
}

.app-page {
  margin: 8px;
}

.app-page-wrapper [direction="right"] {
  border-right: none;
  z-index: 999 !important;
}

.app-sidebar {
  background: $sidebar-background;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16.25rem;
  background-position: bottom center;
  overflow: hidden;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  height: 100%;
}
.app-sidebar .site-logo {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
  align-items: center;
  // display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: $header-height;
  background: $color-primary;
}
.app-sidebar .app-sidebar-wrap .top-sidebar .sidebar-user-block {
  padding: 1.25rem;
}
.app-sidebar .user-profile > img {
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
}

.app-sidebar .dropdown > a {
  font-size: 1.125rem;
}
.app-sidebar .dropdown > a::after {
  margin-left: 0.9375rem;
  vertical-align: 0.1rem;
}
.app-sidebar .app-mainMenu .side-title {
  position: relative;
  background-color: transparent;
  font-size: $sidebar-font-size;
}

.app-sidebar .app-mainMenu .side-title span {
  font-size: 14px;
}
.app-sidebar .app-mainMenu div,
.app-sidebar .app-mainMenu li,
.app-sidebar .app-mainMenu li a,
.app-sidebar .app-mainMenu li a i,
.app-sidebar .app-mainMenu li i {
  font-size: $sidebar-font-size;
}
.app-sidebar .app-mainMenu li a.item-active,
.app-sidebar .app-mainMenu li a.item-active i,
.app-sidebar .app-mainMenu li.item-active,
.app-sidebar .app-mainMenu li.item-active i {
  font-weight: bold;
}
.app-sidebar .app-mainMenu div i,
.app-sidebar .app-mainMenu li i {
  margin-right: 0.9375rem;
  display: inline-block;
  font-size: $sidebar-font-icon-size;
  line-height: 24px;
}

.app-sidebar .app-mainMenu li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.app-sidebar .app-mainMenu a {
  width: 100%;
  display: -webkit-box;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  font-size: $sidebar-font-size;
  text-decoration: none;
}
.app-sidebar .app-mainMenu div a,
.app-sidebar .app-mainMenu div span,
.app-sidebar .app-mainMenu li a,
.app-sidebar .app-mainMenu li span {
  width: 100%;
  font-size: 1rem;
}
.app-sidebar .app-mainMenu div h3,
.app-sidebar .app-mainMenu li h3 {
  color: #464d69;
}
.app-sidebar .app-mainMenu div .side-arrow,
.app-sidebar .app-mainMenu li .side-arrow {
  margin-right: -5px;
  font-size: $sidebar-font-size;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.app-sidebar .app-mainMenu li.item-active .side-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.app-sidebar .app-mainMenu .sub-menu {
  padding: 0;
}
.app-sidebar .app-mainMenu .sub-menu li {
  padding-left: 3.8rem;
}

.app-sidebar [class*="sidebar-overlay-"] {
  height: 100%;
}

.app-sidebar .sidebar-overlay-dark {
  background: rgba(0, 0, 0, 0.8);
}
.app-sidebar .sidebar-overlay-dark .app-mainMenu div,
.app-sidebar .sidebar-overlay-dark .app-mainMenu li,
.app-sidebar .sidebar-overlay-dark .app-mainMenu li a,
.app-sidebar .sidebar-overlay-dark .app-mainMenu li a i,
.app-sidebar .sidebar-overlay-dark .app-mainMenu li i {
  color: #fff;
}
.app-sidebar .sidebar-overlay-dark .sidebar-user-block .dropdown > a {
  color: #fff !important;
}

.app-sidebar .sidebar-overlay-light {
  background: transparent;
}
.app-sidebar .sidebar-overlay-light .app-mainMenu div,
.app-sidebar .sidebar-overlay-light .app-mainMenu li,
.app-sidebar .sidebar-overlay-light .app-mainMenu li a,
.app-sidebar .sidebar-overlay-light .app-mainMenu li a i,
.app-sidebar .sidebar-overlay-light .app-mainMenu li i {
  color: #fff;
}
.app-sidebar .sidebar-overlay-light .sidebar-user-block .dropdown > a {
  color: #fff;
}

.collapsed-sidebar .app-header {
  left: 0;
}

.collapsed-sidebar .app-sidebar {
  width: 0;
}

.collapsed-sidebar .app-app-content {
  background: linear-gradient(180deg, #e6e5f2, #bdcbd5);
  width: 100%;
}

.custom-dropdown-menu,
.notification-icon .custom-dropdown-menu,
.cart-icon .custom-dropdown-menu,
.app-dropdown .custom-dropdown-menu {
  padding: 0;
  -webkit-transform: translateY(70px) !important;
  transform: translateY(70px) !important;
  display: block;
  visibility: hidden;
  left: auto !important;
  opacity: 0;
}
.custom-dropdown-menu::before,
.notification-icon .custom-dropdown-menu::before,
.cart-icon .custom-dropdown-menu::before,
.app-dropdown .custom-dropdown-menu::before,
.custom-dropdown-menu::after,
.notification-icon .custom-dropdown-menu::after,
.cart-icon .custom-dropdown-menu::after,
.app-dropdown .custom-dropdown-menu::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  right: 10%;
}
.custom-dropdown-menu::before,
.notification-icon .custom-dropdown-menu::before,
.cart-icon .custom-dropdown-menu::before,
.app-dropdown .custom-dropdown-menu::before {
  border-bottom: 11px solid #dee4e8;
  content: "";
  position: absolute;
  top: -11px;
}
.custom-dropdown-menu::after,
.notification-icon .custom-dropdown-menu::after,
.cart-icon .custom-dropdown-menu::after,
.app-dropdown .custom-dropdown-menu::after {
  border-bottom: 9px solid #fff;
  content: "";
  position: absolute;
  top: -9px;
}

.app-sidebar .top-sidebar .sidebar-user-block ul {
  background-color: #fafafa;
}
.app-sidebar .top-sidebar .sidebar-user-block ul li:not(:first-child) {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
  margin: 0.3125rem;
}
.app-sidebar .top-sidebar .sidebar-user-block ul li:not(:first-child) a {
  background-color: #fff;
}
.app-sidebar .top-sidebar .sidebar-user-block ul li:not(:first-child) a:hover {
  background-color: $color-primary-two;
}

.app-sidebar
  .top-sidebar
  .sidebar-user-block
  .app-dropdown.show
  .custom-dropdown-menu {
  -webkit-transform: translateY(65px) !important;
  transform: translateY(65px) !important;
  z-index: 200;
}
.app-sidebar
  .top-sidebar
  .sidebar-user-block
  .app-dropdown.show
  .custom-dropdown-menu:after,
.app-sidebar
  .top-sidebar
  .sidebar-user-block
  .app-dropdown.show
  .custom-dropdown-menu:before {
  border-bottom-color: $color-primary;
  z-index: 200;
}

.app-dropdown a i {
  line-height: 1.5;
  font-size: 0.8rem;
}

.app-dropdown.show .custom-dropdown-menu {
  opacity: 1;
  -webkit-transform: translateY(49px) !important;
  transform: translateY(49px) !important;
  visibility: visible;
}

.app-dropdown .custom-dropdown-menu {
  width: 14rem;
  right: 0px !important;
  position: absolute;
  z-index: 200;
}
.app-dropdown .custom-dropdown-menu ul li a {
  display: block;
  color: #727891;
  padding: 0.625rem;
}
.app-dropdown .custom-dropdown-menu ul li a i {
  margin-right: 0.9375rem;
  font-size: 1.125rem;
  vertical-align: -4px;
}
.app-dropdown .custom-dropdown-menu ul li a .badge {
  border-radius: 100%;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding: 0 !important;
}
.app-dropdown .custom-dropdown-menu ul li a:hover {
  color: #fff;
  background: $color-primary-two;
}

.app-header {
  background: $header-background;
  z-index: -9 !important;
  min-height: $header-height;
}

.app-header .site-logo {
  width: $sidebar-width;
  padding: 0.5rem 0.5rem;
  -webkit-box-align: center;
  align-items: center;
  // display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: $header-height;
  // background: $color-primary;
}

.app-app-content {
  background: linear-gradient(180deg, #e6e5f2, #bdcbd5);
}

.user-menu .user-menu-header {
  background-color: $color-primary;
  padding: 15px;
}

.user-menu ul {
  background-color: #fafafa;
}
.user-menu ul li:not(:first-child) {
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02);
  margin: 0.3125rem;
}
.user-menu ul li:not(:first-child) a {
  background-color: #fff;
}
.user-menu ul li:not(:first-child) a:hover {
  background-color: $color-primary-two;
}

.user-menu ul li a:hover {
  color: #fff;
  background: $color-primary-two;
}

.user-menu .custom-dropdown-menu::after {
  border-bottom: 9px solid $color-primary;
  content: "";
  position: absolute;
  top: -9px;
}

$sidebar-bg-color: #1d1d1d !default;
$sidebar-color: #adadad !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: #d8d8d8 !default;
$submenu-bg-color: #2b2b2b !default;
$submenu-bg-color-collapsed: #2b2b2b !default;
$icon-bg-color: #2b2b2b !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;

@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }
}

@mixin break-point {
  position: fixed;
  left: -$sidebar-width;
  &.collapsed {
    left: -$sidebar-collapsed-width;
  }
  &.toggled {
    left: 0;
    .overlay {
      display: block;
    }
  }
  &.rtl {
    left: auto;
    right: -$sidebar-width;
    &.collapsed {
      left: auto;
      right: -$sidebar-collapsed-width;
    }
    &.toggled {
      left: auto;
      right: 0;
    }
  }
}

.pro-sidebar {
  color: $sidebar-color;
  height: 100%;
  width: $sidebar-width;
  min-width: $sidebar-width;
  text-align: left;
  transition: width, left, right, 0.3s;
  position: relative;
  z-index: 1009;
  > .pro-sidebar-inner {
    background: $sidebar-bg-color;
    height: 100%;
    position: relative;
    z-index: 101;

    > img.sidebar-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      opacity: 0.3;
      left: 0;
      top: 0;
      z-index: 100;
    }

    > .pro-sidebar-layout {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 101;

      .pro-sidebar-header {
        border-bottom: 1px solid rgba($sidebar-color, 0.2);
      }
      .pro-sidebar-content {
        flex-grow: 1;
      }
      .pro-sidebar-footer {
        border-top: 1px solid rgba($sidebar-color, 0.2);
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000, 0.3);
    z-index: 100;
    display: none;
  }

  &.collapsed {
    width: $sidebar-collapsed-width;
    min-width: $sidebar-collapsed-width;
  }

  &.rtl {
    text-align: right;
    direction: rtl;
  }

  &.xs {
    @media (max-width: $breakpoint-xs) {
      @include break-point;
    }
  }
  &.sm {
    @media (max-width: $breakpoint-sm) {
      @include break-point;
    }
  }
  &.md {
    @media (max-width: $breakpoint-md) {
      @include break-point;
    }
  }
  &.lg {
    @media (max-width: $breakpoint-lg) {
      @include break-point;
    }
  }
  &.xl {
    @media (max-width: $breakpoint-xl) {
      @include break-point;
    }
  }
  &.xxl {
    @media (max-width: $breakpoint-xxl) {
      @include break-point;
    }
  }
}

%pro-item-prefix {
  &:before {
    content: "";
    display: inline-block;
    width: 4px;
    min-width: 4px;
    height: 4px;
    border: 1px solid $submenu-bg-color;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    box-shadow: 1px 0px 0px $sidebar-color, 0px -1px 0px $sidebar-color,
      0px 1px 0px $sidebar-color, -1px 0px 0px $sidebar-color;
  }
}

%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pro-sidebar {
  .pro-menu {
    padding-top: 10px;
    padding-bottom: 10px;

    > ul {
      > .pro-sub-menu {
        > .pro-inner-list-item {
          position: relative;
          background-color: $submenu-bg-color;

          > div > ul {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }
    }
    a {
      text-decoration: none;
      color: $sidebar-color;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
      }
      &:hover {
        color: $highlight-color;
      }
    }
    .pro-menu-item {
      font-size: 15px;
      &.active {
        color: $highlight-color;
      }

      .suffix-wrapper {
        opacity: 1;
        transition: opacity 0.2s;
      }
      .prefix-wrapper {
        display: flex;
        margin-right: 5px;
        opacity: 1;
        transition: opacity 0.2s;
      }

      > .pro-inner-item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 35px 8px 20px;
        cursor: pointer;

        &:focus {
          outline: none;
          color: $highlight-color;
        }
        > .pro-icon-wrapper {
          margin-right: 10px;
          font-size: 14px;
          width: $icon-size;
          min-width: $icon-size;
          height: $icon-size;
          line-height: $icon-size;
          text-align: center;
          display: inline-block;

          .pro-icon {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
          }
        }

        > .pro-item-content {
          flex-grow: 1;
          flex-shrink: 1;

          @extend %text-truncate;
        }

        &:hover {
          color: $highlight-color;
          .pro-icon-wrapper {
            .pro-icon {
              animation: swing ease-in-out 0.5s 1 alternate;
            }
          }
        }
      }

      &.pro-sub-menu {
        > .pro-inner-item {
          &:before {
            background: $sidebar-color;
          }

          > .pro-arrow-wrapper {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);

            .pro-arrow {
              display: inline-block;
              border-style: solid;
              border-color: $sidebar-color;
              border-width: 0 2px 2px 0;
              padding: 2.5px;
              vertical-align: middle;
              transition: transform 0.3s;
              transform: rotate(-45deg);
            }
          }
        }

        &.open {
          > .pro-inner-item {
            &:before {
              background: transparent !important;
            }
            > .pro-arrow-wrapper {
              .pro-arrow {
                transform: rotate(45deg);
              }
            }
          }
        }

        .pro-inner-list-item {
          padding-left: $submenu-indent;

          .pro-inner-item {
            padding: 8px 30px 8px 15px;

            > .pro-icon-wrapper {
              background: none;
              width: auto;
              min-width: auto;
              height: auto;
              line-height: auto;
            }
          }
        }
      }
    }

    &:not(.inner-submenu-arrows) {
      .pro-inner-list-item
        .pro-menu-item.pro-sub-menu
        .pro-inner-item
        .pro-arrow-wrapper {
        display: none;
      }
    }
    &.submenu-bullets {
      .pro-menu-item.pro-sub-menu .pro-inner-list-item .pro-inner-item {
        @extend %pro-item-prefix;
      }
    }

    &.shaped {
      .pro-menu-item {
        > .pro-inner-item {
          > .pro-icon-wrapper {
            background-color: $icon-bg-color;
          }
        }
      }
    }

    &.square {
      .pro-menu-item {
        > .pro-inner-item {
          > .pro-icon-wrapper {
            border-radius: 0;
          }
        }
      }
    }
    &.round {
      .pro-menu-item {
        > .pro-inner-item {
          > .pro-icon-wrapper {
            border-radius: 4px;
          }
        }
      }
    }
    &.circle {
      .pro-menu-item {
        > .pro-inner-item {
          > .pro-icon-wrapper {
            border-radius: 50%;
          }
        }
      }
    }
  }

  // styling when the sidebar is collapsed

  &.collapsed {
    .pro-menu {
      > ul {
        > .pro-menu-item {
          > .pro-inner-item {
            > .suffix-wrapper,
            > .prefix-wrapper {
              opacity: 0;
            }
          }
          > .pro-inner-list-item {
            background-color: $submenu-bg-color-collapsed;
            z-index: 111;
          }
          position: relative;
          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            cursor: pointer;
          }
          &.pro-sub-menu {
            position: relative;

            > .pro-inner-item {
              pointer-events: none;

              > .pro-arrow-wrapper {
                display: none;
              }
            }
            > .pro-inner-list-item {
              height: auto !important;
              position: fixed;
              visibility: hidden;
              min-width: 220px;
              max-width: 270px;
              background-color: transparent;
              max-height: 100%;
              padding-left: 3px;
              &.has-arrow {
                padding-left: 10px;
              }
              > .popper-inner {
                max-height: 100vh;
                overflow-y: auto;
                background-color: $submenu-bg-color-collapsed;
                padding-left: 20px;
                border-radius: 4px;
              }
            }
            &:hover {
              > .pro-inner-list-item {
                transition: visibility, transform 0.3s;
                visibility: visible;
              }
              .pro-icon-wrapper {
                .pro-icon {
                  animation: swing ease-in-out 0.5s 1 alternate;
                }
              }
            }

            .pro-inner-list-item {
              .pro-sub-menu-item,
              .pro-inner-item {
                padding: 8px 30px 8px 5px;
              }
            }
          }
        }
      }
    }
  }

  // styles for rtl
  &.rtl {
    .pro-menu {
      .pro-menu-item {
        .prefix-wrapper {
          margin-right: 0;
          margin-left: 5px;
        }
        > .pro-inner-item {
          padding: 8px 20px 8px 35px;
          > .pro-icon-wrapper {
            margin-right: 0;
            margin-left: 10px;
          }
        }

        &.pro-sub-menu {
          > .pro-inner-item {
            > .pro-arrow-wrapper {
              right: auto;
              left: 20px;
              .pro-arrow {
                transform: rotate(135deg);
              }
            }
          }
          &.open {
            > .pro-inner-item {
              > .pro-arrow-wrapper {
                .pro-arrow {
                  transform: rotate(45deg);
                }
              }
            }
          }

          .pro-inner-list-item {
            padding-left: 0;
            padding-right: $submenu-indent;

            .pro-inner-item {
              padding: 8px 15px 8px 30px;
              &:before {
                margin-right: 0;
                margin-left: 15px;
              }
            }
          }
        }
      }
    }

    // styles for rtl and collapsed
    &.collapsed {
      .pro-menu {
        > ul {
          > .pro-menu-item {
            &.pro-sub-menu {
              > .pro-inner-list-item {
                padding-left: 0;
                padding-right: 3px;
                &.has-arrow {
                  padding-right: 10px;
                }
                > .popper-inner {
                  padding-left: 0;
                  padding-right: 20px;
                }
              }

              .pro-inner-list-item {
                .pro-sub-menu-item,
                .pro-inner-item {
                  padding: 8px 5px 8px 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.popper-arrow {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.popper-element[data-popper-placement^="left"] > .popper-arrow {
  right: 0;
  border-right: 7px solid $submenu-bg-color-collapsed;
}

.popper-element[data-popper-placement^="right"] > .popper-arrow {
  left: 0;
  border-left: 7px solid $submenu-bg-color-collapsed;
}

.react-slidedown {
  height: 0;
  transition-property: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.react-slidedown.transitioning {
  overflow-y: hidden;
}

.react-slidedown.closed {
  display: none;
}
