
/**
* Spinner
*/

.anteros-spinner {
    position: relative;
    display: inline-block;
    height: 40px;
    outline: 0;
    uesr-select: none
}

.anteros-spinner > * {
    vertical-align: middle
}

.anteros-spinner-control {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100%
}

.anteros-spinner-control:after {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    content: '';
    background-color: rgba(0, 0, 0, 0)
}

.anteros-spinner > input[type=text] {
    display: inline-block;
    width: 170px;
    height: 100%;
    margin: 0;
    border: 1px solid #e4eaec;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.anteros-spinner > input[type=text]:hover {
    border-color: #e4eaec
}

.anteros-spinner > input[type=text]:focus {
    border-color: #62a8ea;
    -webkit-box-shadow: none;
    box-shadow: none
}

.anteros-spinner-down, .anteros-spinner-up {
    position: relative;
    display: block;
    height: 50%;
    font-family: "Font Awesome 5 Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #a3afb7;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.anteros-spinner-up {
    background-color: #f3f7f9;
    border-top: 1px solid #e4eaec;
    border-right: 1px solid #e4eaec;
    border-radius: 0 3px 0 0
}

.anteros-spinner-up:before {
    content: "\f0d8"
}

.anteros-spinner-down {
    background-color: #f3f7f9;
    border-right: 1px solid #e4eaec;
    border-bottom: 1px solid #e4eaec;
    border-radius: 0 0 3px 0
}

.anteros-spinner-down:before {
    content: "\f0d7"
}

.anteros-spinner:hover input {
    color: #76838f
}

.anteros-spinner:hover .anteros-spinner-down, .anteros-spinner:hover .anteros-spinner-up {
    background-color: #e4eaec
}

.anteros-spinner_focus > input[type=text] {
    color: #76838f !important;
    border-color: #62a8ea !important
}

.anteros-spinner_focus .anteros-spinner-down, .anteros-spinner_focus .anteros-spinner-up {
    color: #fff;
    background-color: #62a8ea !important;
    border-color: #62a8ea !important
}

.anteros-spinner-down:active, .anteros-spinner-up:active {
    background-color: #4e97d9 !important
}

.anteros-spinner_disabled input, .anteros-spinner_disabled:hover input {
    color: #76838f;
    background-color: #f3f7f9
}

.anteros-spinner_disabled input:focus, .anteros-spinner_disabled input:hover,
.anteros-spinner_disabled:hover input:focus, .anteros-spinner_disabled:hover input:hover {
    border-color: #e4eaec
}

.anteros-spinner_disabled .anteros-spinner-down, .anteros-spinner_disabled .anteros-spinner-up,
.anteros-spinner_disabled:hover .anteros-spinner-down, .anteros-spinner_disabled:hover .anteros-spinner-up {
    background-color: #e1e6e8 !important
}