
/*********
***  TreeViews
*********/
.anteros-treeview {
    min-height:100px;
    padding:4px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    line-height: 20px;   
    overflow-x: auto;
    overflow-y: auto; 
  }
  
  .anteros-treeview ul {
  -webkit-padding-start: 28px;
    margin: 0px 0px 0px 0px;
  }
  .anteros-treeview li {
    list-style-type:none;
    margin:0;
    position:relative;
    line-height: 16px;
  }
  .anteros-treeview li::before{
    content:'';
    left:-25px;
    position:absolute;
    right:auto
  }
  .anteros-treeview li::after {
    content: '';
    left: -25px;
    position: absolute;
    right: auto;
  }
  .anteros-treeview li::before {
    border-left:1px dotted #999;
    bottom: 30px;
    height: 100%;
    top: -2px;
    width:1px;
  }
  .anteros-treeview li::after {
    border-top: 1px dotted #999;
    height: 20px;
    top: 15px;
    width: 22px;
  }
  .anteros-treeview li span {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display:inline-block;
    padding:2px;
    text-decoration:none
  }
  
  .anteros-treeview img {
    vertical-align: middle;
    height: auto;
    max-width: 100%;
  }
  
  .anteros-treeview li.parent_li>span {
    cursor:pointer
  }
  .anteros-treeview>ul>li::before, .anteros-treeview>ul>li::after {
    border:0
  }
  .anteros-treeview li:last-child::before {
    height:18px
  }
  .anteros-treeview-item  {
    background:auto;
    color:black;
    margin: 1px 1px 1px 2px;
  }
  
  .anteros-treeview-item:hover { 
    background:#e7f4f9;
    color:black;
    margin: 1px 1px 1px 2px;
  }
  